<ion-view title="批发电商" class="home-Class">
    <!--Header部分-->
    <ion-nav-title class="headerBar headSearch" modal-linkage>
        <div class="inputSearch"><a class="item-input-wrapper inputSearch" ng-click="openSearch();"><i class="icon ion-ios-search placeholder-icon"></i>找什么呢？搜索试试吧</a></div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <span class="headReturn"><i class="PFIcon-address"></i>广东</span>
    </ion-nav-buttons>
    <ion-content>
        <!-- banner -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" class="headImgDiv" does-continue="true">
            <ion-slide ng-repeat="banner in banners">
                <div class="Img"><img src="{{banner.a_pic}}" err-src="/images/Banner.jpg" /></div>
            </ion-slide>
            
        </ion-slide-box>

        <div class="NewProductsDiv whiteBg mb10">
            <div class="headTitle">
                <h3>新品上架</h3>
                <a class="More" ng-href="/productList">MORE<i class="PFIcon-RTriangle"></i></a>
            </div>
            <ion-scroll direction="x" shouldfreeze="x" scrollbar-x="false" locking="true" zooming="false" has-bouncing="true" class="NewPro" ng-class="NewPro" style="height:100px;">
                <ion-list>
                    <ion-item ng-href="javascript:void(0)" class="NewProducts mr5" ng-repeat = "product in newProducts.array_1">
                        <div class="Img imgMax" style="background-image: url('{{product.p_Pic.split(',')[0]}}')"></div>
                        <div class="Prod">
                            <p class="ellipsis" style="color: #000;font-size: 16px;" ng-bind ="product.p_name"></p>
                            <span>{{product.price3}}起</span>
                            <span ng-if ="!product.price3">{{product.price2}}起</span>
                        </div>
                    </ion-item>
                   
                </ion-list>
            </ion-scroll>
        </div>

        <div class="HotProducts">
            <div class="headTitle whiteBg">
                <h3>热销产品</h3>
            </div>
            <ion-list class="proList whiteBg mb10">
                <ion-item ng-href="/productDetails/{{hot.p_id}}" ng-repeat="hot in hotProduct.array_1">
                    <div class="Img imgMax" style="background-image: url('{{hot.p_Pic.split(',')[0]}}');"></div>
                    <p class="mt10 mb5" style="color:#676767;" ng-bind="hot.p_name"></p>
                    <div>￥<span ng-bind="hot.price3"></span><span ng-bind="brand.price2" ng-if="brand.price3 == ''"></span>- ￥<span ng-bind="hot.price1"></span></div>
                </ion-item>
            </ion-list>
            <p class="noData" ng-if="!noData">没有更多数据了！</p>

            <!-- 滚动刷新 -->
            <ion-infinite-scroll on-infinite="loadMore();" ng-if="noData" immediate-check="false"></ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>