<ion-view class="me-Class">
	<ion-nav-title>
		<h1 class="titleNav">会员中心</h1>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a href="javascrpt:;" class="edit-btn"></a>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" class="scroll-content has-header">
    	<ion-scroll class="scroll-view">
    		
    	</ion-scroll>
    </ion-content>
</ion-view>