.allOrders-Class a.activated {
    background: none !important;
}

.allOrders-Class {
    background-color: #f1f1f1;
}

    .allOrders-Class .listSwitch {
        overflow: hidden;
        display: block;
    }

        .allOrders-Class .listSwitch .button-bar {
            border-bottom: solid 1px #eee;
        }

            .allOrders-Class .listSwitch .button-bar > .button {
                /*background: no-repeat;*/
                border: none;
                font-size: 13px;
                color: #636363;
                height: 40px;
                line-height: 45px;
                bottom: -50%;
            }

            .allOrders-Class .listSwitch .button-bar > .on {
                border-bottom: solid 2px rgb(255, 0, 0);
                border-radius: 0px;
                color: rgb(255, 0, 0);
            }


    .allOrders-Class .listOrders {
        display: block;
        margin-bottom: 15px;
    }

        .allOrders-Class .listOrders .item {
            overflow: hidden;
            background-color: #fff;
            border-bottom: solid 1px #dddddd;
            position: relative;
            margin-top: 15px;
        }

        /*产品的店铺*/
        .allOrders-Class .listOrders .storeName {
            overflow: hidden;
            border-top: solid 1px #e3e5e9;
            padding: 5px 75px 0px 30px;
        }

            .allOrders-Class .listOrders .storeName > h3 {
                float: left;
                height: 25px;
                line-height: 25px;
                margin: 0px;
                max-width: 100%;
            }

                .allOrders-Class .listOrders .storeName > h3 > a {
                    display: block;
                    overflow: hidden;
                    color: #444;
                    font-size: 15px;
                }

            .allOrders-Class .listOrders .storeName > i {
                position: absolute;
                left: 10px;
                top: 0px;
                font-size: 17px;
                color: #81838d;
                height: 36px;
                line-height: 33px;
                width: 18px;
            }

            .allOrders-Class .listOrders .storeName > span {
                position: absolute;
                right: 10px;
                top: 0px;
                height: 36px;
                line-height: 36px;
                color: #f23030;
                font-size: 15px;
            }

        /*产品*/
        .allOrders-Class .listOrders .commodity {
            background-color: #f8f8f8;
            overflow: hidden;
            position: relative;
            padding: 11px 90px 20px 100px;
            display: block;
            height: 100px;
            margin-top: 5px;
        }
            /*产品图片*/
            .allOrders-Class .listOrders .commodity .Img {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 80px;
                height: 80px;
                overflow: hidden;
                border: solid 1px #ececec;
                border-radius: 5px;
                background-color: #fff;
            }

            /*产品标题*/
            .allOrders-Class .listOrders .commodity h4 {
                font-size: 13px;
                color: #636363;
                font-family: 微软雅黑;
                white-space: normal;
                height: 30px;
                line-height: 15px;
                margin: 0px;
            }

            .allOrders-Class .listOrders .commodity > span {
                display: block;
            }

            .allOrders-Class .listOrders .commodity span, .allOrders-Class .listOrders .commodity p {
                font-size: 13px;
                color: #808080;
                height: 18px;
                line-height: 18px;
            }

            /*服务*/
            .allOrders-Class .listOrders .commodity > .Service {
                overflow: hidden;
                height: 38px;
            }

                .allOrders-Class .listOrders .commodity > .Service > span {
                    background-color: #dd2727;
                    color: #fff;
                    float: left;
                    font-size: 11px;
                    margin-right: 5px;
                    padding: 0px 1px;
                    margin-bottom: 2px;
                }

            .allOrders-Class .listOrders .commodity > .Amount {
                position: absolute;
                right: 10px;
                top: 10px;
            }

        /*单个产品金额及数量*/
        .allOrders-Class .listOrders .Amount {
            float: right;
            overflow: hidden;
            width: 80px;
        }

            .allOrders-Class .listOrders .Amount > span {
                display: block;
                overflow: hidden;
                color: #999999;
                text-align: right;
                height: auto;
                white-space: normal;
                font-size: 11px;
            }

                .allOrders-Class .listOrders .Amount > span.Current {
                    color: #000;
                }

                .allOrders-Class .listOrders .Amount > span.Original {
                    font-weight: bolder;
                    text-decoration: line-through;
                }

        /*商品合计*/
        .allOrders-Class .listOrders .priceAmount {
            display: block;
            text-align: right;
            overflow: hidden;
            height: 40px;
            line-height: 40px;
            padding: 0px 10px;
            border-bottom: solid 1px #e3e5e9;
            font-size: 12px;
        }

            .allOrders-Class .listOrders .priceAmount > span {
                /*font-size: 12px;*/
                margin-left: 5px;
            }

            .allOrders-Class .listOrders .priceAmount b {
                font-size: 17px;
                font-weight: normal;
            }

        /*产品按钮块*/
        .allOrders-Class .listOrders .priceButton {
            overflow: hidden;
            padding: 5px 10px;
        }

            .allOrders-Class .listOrders .priceButton > a {
                display: block;
                overflow: hidden;
                font-size: 13px;
                color: #000;
                height: 30px;
                line-height: 30px;
                border: solid 1px #eee;
                border-radius: 3px;
                padding: 0px 10px;
                margin-left: 10px;
                float: right;
            }

                /*确认收货按钮*/
                .allOrders-Class .listOrders .priceButton > a.Receipt {
                    background-color: #ff5722;
                    color: #fff;
                }

                /*待付款按钮*/
                .allOrders-Class .listOrders .priceButton > a.toPay {
                    color: #f23030;
                    border: solid 1px #f33e3e;
                }


.button-Orange, .button-Orange.activated {
    background-color: #ff5722;
    color: #fff;
}

.button-Red, .button-Red.activated {
    background-color: #ff0000;
    color: #fff;
}
