 .input-group input::-webkit-input-placeholder {
            color: #888 !important;
        }

　　 .input-group input:-moz-placeholder {
    color: #888 !important;
}

　　 .input-group input::-moz-placeholder {
    color: #888 !important;
}
.input-group select, .input-group input{
	color: #888;
}