

.boughtProduct-Class .boughtProduct-Content {
	height: 100%;
}

.boughtProduct-Class .scroll-view {
	height: 100%;
}

.boughtProduct {
	overflow: hidden;
    position: relative;
    margin-bottom: 45px;
}

.boughtProduct .boughtProduct-item {

}


.boughtProduct .boughtProduct-item .boughtProduct-item-header {
	display: block;
	padding: 0 10px;
	overflow: hidden;
	border-bottom: 1px solid #eaeaea;
}

.boughtProduct .boughtProduct-item .boughtProduct-item-header .icon{
	position: relative;
    top: 14px;
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    font-size: 19px;

}

.boughtProduct .boughtProduct-item .boughtProduct-item-header .icon-inner{
	width: 25px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	line-height: 50px;
	font-size: 14px;
	color: #52ce49;
}

.boughtProduct .boughtProduct-item .boughtProduct-item-header .company-name ,.boughtProduct .boughtProduct-item .boughtProduct-item-header .pro-status{
	height: 50px;
	text-align: left;
	line-height: 50px;
	font-size: 13px;
	margin-right: 5px;
	overflow: hidden;
}


.boughtProduct .boughtProduct-item .boughtProduct-item-header .icon-go{
	height: 50px;
	line-height: 50px;
}

.boughtProduct .boughtProduct-item .boughtProduct-item-info{
	position: relative;
	display: block;
	padding: 15px 10px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.boughtProduct .boughtProduct-item .boughtProduct-item-info .icon-select{
	position: absolute;
    top: 35px;
    left: 10px;
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    font-size: 19px;
}


.boughtProduct .boughtProduct-item .boughtProduct-item-info .boughtProduct-avatar{
	width: 70px;
    height: 70px;
    border: 1px solid #eee;
    margin-right: 10px;
}

.boughtProduct .boughtProduct-item .boughtProduct-item-info .icon-next {
	height: 70px;
	line-height: 70px;
}

.boughtProduct .boughtProduct-item .bottom-btn {
	width: 100%;
	overflow: hidden;

}

.boughtProduct .boughtProduct-item .bottom-btn .view-btn {
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 13px;
}
.boughtProduct .boughtProduct-item .bottom-btn .left-btn {
	width: 50%;
}
.boughtProduct .boughtProduct-item .bottom-btn .right-btn {
	width: 50%;
}

.boughtProduct .boughtProduct-item .bottom-btn .btn {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0 5px;
	height: 45px;
	line-height: 45px;
	font-size: 13px;
	
}

.border-right{
	border-right: 1px solid #eee;
}

/*before*/
.boughtProduct-Class .tabs .tab-item .badge {
    background-color: #fff;
    color: #f34242;
    border: 1px solid #f34242;
}
.boughtProduct-Class .tab-item .badge {
	top: 7%;
	right: calc(33% - 26px);
}
/*after*/
.boughtProduct-Class .tabs-top>.tabs .tab-item.tab-item-active .badge {
 	top: 7%;
 	right: calc(33% - 26px);
 	background-color: #fff;
 	color: #f34242;
 	border: 1px solid #f34242;

 }

.boughtProduct-Class .tabs-striped .tab-item.tab-item-active {
    border-color: #f34242;
    color: #222;
}