.categoryList-class .proList {
    overflow: hidden;
    /*width: 100%;*/
    display: block;
    padding: 0px 5px 5px 5px;
}

    .categoryList-class .proList .item {
        width: 48%;
        display: block;
        overflow: hidden;
        float: left;
        background: initial;
        padding: 10px;
        margin: 1%;
        border: solid 1px #eee;
    }

    .categoryList-class  .proList .Img {
        overflow: hidden;
        width: 100%;
        padding-bottom: 100%;
    }

    .categoryList-class .proList h3 {
        color: #676767;
        font-size: 13px;
        margin: 10px auto 0px auto;
    }

    .categoryList-class .proList div {
        overflow: hidden;
        color: #e7493c;
        font-size: 13px;
        /*padding: 0px 5px;*/
    }
