.comments-Class .comments-Content {
	height: 100%;
}

.comments-Class .scroll-view{
	height: 100%;
}

.comments-Class .comments-Content .comments-group{
	display: block;
	overflow: hidden;
}
.comments-Class .comments-Content .comments-group .comments-group-item{
	position: relative;
	display: block;
	padding: 15px 10px 15px 90px;
	border-bottom: 1px solid #eaeaea;
	overflow: hidden;
}

/*.comments-Class .comments-Content .comments-group .comments-group-item:last-child{
	border-bottom: none;
}
*/
.comments-Class .comments-Content .comments-group .comments-group-item .item-avatar{
	width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 10px;
    border: 1px solid #eaeaea;
}

.comments-Class .comments-Content .comments-group .comments-group-item .star{
	display: block;
}