/*.favorite-Class a.activated {
    background: none !important;
}*/
.favorite-Class .scroll-view {
    height: 100%;

}
.favorite-Class .tabs-striped .tab-item.tab-item-active {
    border-color: #f34242;
    color: #222;
}

.favorite-Class .item-complex .item-content {
    height: 100%;
}

.favorite-Class .wrap{
    position: relative;
    padding-top: 47px;
    height: 100%;
}

.favorite-Class .wrap .button-bar {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.favorite-Class .wrap .button-bar .button {
    border: none;
    font-size: 13px;
    color: #636363;
    height: 47px;
    background-color: #fff;
    border-radius: 0;
}

.favorite-Class .wrap .button-bar .button .text {
    display: block;
    margin: 0 10px;
    height: 47px;
    line-height: 47px;
}


.favorite-Class .wrap .button-bar .on {
    border-bottom: solid 2px #f34242;
    border-radius: 0;
    color: #f34242;
}

.favorite {
    overflow: hidden;
    padding: 10px 5px 5px 5px;
    margin-top: 0;
    position: relative;
    margin-bottom: 5px;
    min-height: 100%;
}

.favorite .item {
    width: 48%;
    display: block;
    overflow: hidden;
    float: left;
    /*background: initial;*/
    padding: 10px;
    margin: 1%;
    border: solid 1px #eee;
}

.favorite .favorite-avatar {
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
}

.favorite .title {
    color: #676767;
    font-size: 13px;
    margin: 10px auto 3px auto;
    height: 17px;
    line-height: 15px;
}

.favorite .price {
    overflow: hidden;
    color: #e7493c;
    font-size: 13px;
    /*padding: 0px 5px;*/
}


.favorite .cancal-btn{
    position: absolute;
    display: inline-block;
    width: 100px;
    /*top: 50%;*/
    /*padding:  5px 20px; */
    text-align: center;
    z-index: 10;
    border: 1px solid #eaeaea;
    font-size: 13px;
    color: #444444;
    height: 35px;
    line-height: 35px;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}




