.hAddress {
    position: relative;
}

    .hAddress > i {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .hAddress > select {
        background: none;
        border: none;
        color: #fff;
        height: 100%;
        padding-left: 25px;
    }

.headSearch .inputSearch {
    padding: 0px;
}

.bar .title {
    margin: 0px;
}

.inputSearch {
    background-color: #fe7b7b;
    margin: 4px;
    border-radius: 5px;
}

    .inputSearch > a, .inputSearch > input {
        color: #fff !important;
        font-size: 14px;
        height: 35px;
    }

    .inputSearch > i {
        color: #fff;
    }

.home-Class a.activated {
    background: none !important;
}

/*Banner 轮播*/
.home-Class .headImgDiv {
    overflow: hidden;
    background-color: #fff;
}

    .home-Class .headImgDiv .Img {
        width: 100%;
        padding-bottom: 37%;
        overflow: hidden;
    }

    .home-Class .headImgDiv .slider-pager .slider-pager-page {
        opacity: 0.4;
    }

        .home-Class .headImgDiv .slider-pager .slider-pager-page.active {
            color: #f34242;
            opacity: 1;
        }


/*新品上架*/
.home-Class .NewProductsDiv {
    overflow: hidden;
    padding: 0px 3% 5px 3%;
}

    .home-Class .NewProductsDiv .list {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
    }

.home-Class .NewProducts {
    overflow: hidden;
    float: left;
    display: block;
    /*width: 150px;*/
    border: solid 1px #e5e5e5 !important;
    position: relative;
    margin-right: 10px !important;
}

.home-Class .NewProducts {
}

    .home-Class .NewProducts .Img {
        overflow: hidden;
        width: 90px;
        height: 70px;
        position: absolute;
        left: 5px;
        top: 10px;
    }

    .home-Class .NewProducts .Prod {
        overflow: hidden;
        float: left;
        margin-left: 100px;
        padding: 20px 5px 20px 0px;
        width: 150px;
    }

        .home-Class .NewProducts .Prod > h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 16px;
            color: #000;
            margin: 0px auto 5px auto;
        }

        .home-Class .NewProducts .Prod > span {
            overflow: hidden;
            padding: 2px 5px;
            font-size: 10px;
            color: #fff;
            background-color: #f34242;
        }

/*热销产品*/
.home-Class .HotProducts {
    overflow: hidden;
    padding: 43px 0px 5px 0px;
    margin-top: 0px;
    position: relative;
}

    .home-Class .HotProducts .headTitle {
        position: absolute;
        /*top: 5px;
        left: 3%;*/
        top: 0px;
        left: 0px;
        padding: 5px 5px 5px 5px;
    }

    .home-Class .HotProducts > .proList {
        overflow: hidden;
        /*width: 100%;*/
        display: block;
        padding: 0px 5px 5px 5px;
    }

        .home-Class .HotProducts > .proList .item {
            width: 48%;
            display: block;
            overflow: hidden;
            float: left;
            background: initial;
            padding: 10px;
            margin: 1%;
            border: solid 1px #eee;
        }

        .home-Class .HotProducts > .proList .Img {
            overflow: hidden;
            width: 100%;
            padding-bottom: 100%;
        }

        .home-Class .HotProducts > .proList h3 {
            color: #676767;
            font-size: 13px;
            margin: 10px auto 0px auto;
        }

        .home-Class .HotProducts > .proList div {
            overflow: hidden;
            color: #e7493c;
            font-size: 13px;
            /*padding: 0px 5px;*/
        }

/*首页标题*/
.home-Class .headTitle {
    width: 100%;
    height: 43px;
    overflow: hidden;
}

    .home-Class .headTitle > h3 {
        float: left;
        color: #676767;
        font-size: 15px;
        line-height: 43px;
    }

    .home-Class .headTitle > .More {
        display: block;
        float: right;
        color: #208fd5;
        font-size: 13px;
        line-height: 43px;
        margin-right: 15px;
    }

        .home-Class .headTitle > .More > i {
            /*float: right;
            display: block;
            line-height: 43px;
            color: #208fd5;
            font-size: 13px;*/
            margin-left: 5px;
        }
