@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1477040280_839472.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1477040280_839472.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1477040280_839472.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1477040280_839472.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1477040280_839472.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
                    

[class^="PFIcon-"], [class*=" PFIcon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 底部TabIcon */


.PFIcon-category:before {
    content: "\e600";
}

.PFIcon-JHD:before {
    content: "\e601";
}

.PFIcon-back:before {
    content: "\e602";
}

.PFIcon-News:before {
    content: "\e603";
}

.PFIcon-user:before {
    content: "\e604";
}

.PFIcon-address:before {
    content: "\e605";
}

.PFIcon-filter:before {
    content: "\e606";
}

.PFIcon-RTriangle:before {
    content: "\e607";
}

.PFIcon-home:before {
    content: "\e608";
}

.PFIcon-Rarrow:before {
    content: "\e609";
}
.PFIcon-Tick:before {
    content: "\e610";
}

.PFIcon-sort:before {
    content: "\e60a";
}

.PFIcon-Collect:before {
    content: "\e60b";
}

.PFIcon-shareIt:before {
    content: "\e60c";
}

.PFIcon-BTriangle:before {
    content: "\e60d";
}

/*发票*/
.PFIcon-Checked:before {
    content: "\e611";
    
}

.PFIcon-Circle:before {
    content: "\e60f";
}


/*取货方式*/
.PFIcon-Hook:before {
    position: absolute;
    content: "\e60e";
    color: #f34242;
    
}




.PFIcon-Square:before {
    content: "\e612";
    color: #aaa;
}


.PFIcon-BTriangle:before {
    content: "\e60d";
}