@font-face {
    font-family: 'iconfont'; /* project id 158498 */
    src: url('//at.alicdn.com/t/font_2e7r69dry4xwdn29.eot');
    src: url('//at.alicdn.com/t/font_2e7r69dry4xwdn29.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2e7r69dry4xwdn29.woff') format('woff'), url('//at.alicdn.com/t/font_2e7r69dry4xwdn29.ttf') format('truetype'), url('//at.alicdn.com/t/font_2e7r69dry4xwdn29.svg#iconfont') format('svg');
}

[class^="PFIcon-"], [class*=" PFIcon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 底部TabIcon */


.PFIcon-category:before {
    content: "\e600";
}

.PFIcon-JHD:before {
    content: "\e601";
}

.PFIcon-back:before {
    content: "\e602";
}

.PFIcon-News:before {
    content: "\e603";
}

.PFIcon-user:before {
    content: "\e604";
}

.PFIcon-address:before {
    content: "\e605";
}

.PFIcon-filter:before {
    content: "\e606";
}

.PFIcon-RTriangle:before {
    content: "\e607";
}

.PFIcon-home:before {
    content: "\e608";
}

.PFIcon-Rarrow:before {
    content: "\e609";
}

.PFIcon-Tick:before {
    content: "\e610";
}

.PFIcon-sort:before {
    content: "\e60a";
}

.PFIcon-Collect:before {
    content: "\e60b";
}

.PFIcon-shareIt:before {
    content: "\e60c";
}

.PFIcon-BTriangle:before {
    content: "\e60d";
}

/*发票*/
.PFIcon-Checked:before {
    content: "\e611";
}

.PFIcon-Circle:before {
    content: "\e60f";
}


/*取货方式*/
.PFIcon-Hook:before {
    position: absolute;
    content: "\e60e";
    color: #f34242;
    font-weight: 700;
}

.PFIcon-tick:before {
    content: "\e60e";
}




.PFIcon-Square:before {
    content: "\e612";
    color: #aaa;
}


.PFIcon-BTriangle:before {
    content: "\e60d";
}


/*会员*/
.PFIcon-real:before {
    content: "\e619";
}

.PFIcon-error:before {
    content: "\e61e";
}

.PFIcon-paying:before {
    content: "\e617";
}

.PFIcon-pickuping:before {
    content: "\e618";
}

.PFIcon-reviews:before {
    content: "\e61c";
}

.PFIcon-coupon:before {
    content: "\e61d";
}

.PFIcon-TakeDelivery:before {
    content: "\e630";
}


.PFIcon-stock:before {
    content: "\e61a";
}

.PFIcon-favorite:before {
    content: "\e61f";
}

.PFIcon-news:before {
    content: "\e61b";
}

.PFIcon-bought:before {
    content: "\e614";
}

.PFIcon-praised:before {
    content: "\e620";
}

.PFIcon-query:before {
    content: "\e616";
}

.PFIcon-ReturnPolicy:before {
    content: "\e613";
}

.PFIcon-complain:before {
    content: "\e621";
}


.PFIcon-basic:before {
    content: "\e648";
}

.PFIcon-AvatarSetting:before {
    content: "\e627";
}

.PFIcon-Receiving:before {
    content: "\e625";
}

.PFIcon-authentication:before {
    content: "\e628";
}

.PFIcon-ModifyPassword:before {
    content: "\e623";
}



.PFIcon-NewsCircle:before {
    content: "\e629";
}

.PFIcon-Star:before {
    content: "\e62a";
    font-size: 18px;
}

.PFIcon-Cancal:before {
    content: "\e62b";
}

.PFIcon-Sub:before {
    content: "\e62c";
}

.PFIcon-inventory:before {
    content: "\e62d";
}

.PFIcon-wechat:before {
    content: "\e62e";
}


.PFIcon-identify:before {
    content: "\e672";
}

.PFIcon-phone:before {
    content: "\e622";
}

.PFIcon-email:before {
    content: "\e624";
}
