/*Banner 轮播*/
.productDetails-class .headImgDiv {
    overflow: hidden;
    background-color: #fff;
}

    .productDetails-class .headImgDiv .Img {
        width: 100%;
        /*overflow: hidden;*/
    }

        .productDetails-class .headImgDiv .Img > img {
            max-width: 100%;
        }

    .productDetails-class .headImgDiv .slider-pager .slider-pager-page {
        opacity: 0.4;
    }

        .productDetails-class .headImgDiv .slider-pager .slider-pager-page.active {
            color: #f34242;
            opacity: 1;
        }

.productDetails-class .transaction {
    overflow: hidden;
    display: block;
}

    .productDetails-class .transaction .Name {
        overflow: hidden;
        padding-bottom: 5px;
        border-bottom: solid 1px #e5e5e5;
    }

        .productDetails-class .transaction .Name > h2 {
            font-size: 15px;
            color: #676767;
            height: 40px;
            line-height: 40px;
            float: left;
            width: 82%;
            padding-left: 2%;
            margin: 0px;
        }

        .productDetails-class .transaction .Name > a {
            display: block;
            overflow: hidden;
            float: right;
            width: 15%;
            border-left: solid 1px #e5e5e5;
            height: 40px;
        }

            .productDetails-class .transaction .Name > a > span {
                color: #898989;
                text-align: center;
                font-size: 15px;
                display: block;
                overflow: hidden;
            }


    .productDetails-class .transaction .Order {
        overflow: hidden;
        padding: 0px 10px;
    }

        .productDetails-class .transaction .Order > div {
            overflow: hidden;
        }

            .productDetails-class .transaction .Order > div > span {
                color: #cccccc;
                font-size: 12px;
                overflow: hidden;
                padding: 5px 0px;
            }

    /*产品规格*/
    .productDetails-class .transaction .ASpecifications {
        border: solid 1px #e5e5e5;
        float: left;
        display: block;
        overflow: hidden;
        width: 65%;
        border-radius: 2px;
        color: #444;
        font-size: 16px;
        padding: 6px 0 5px 16px;
        line-height: 35px;
        height: 43px;
        font-size: 13px;
        position: relative;
    }

        .productDetails-class .transaction .ASpecifications > i {
            width: 33px;
            border-right: solid 1px #e5e5e5;
            padding: 7px 10px 4px 0;
            float: left;
            margin-right: 10px;
            font-size: 20px;
        }

            .productDetails-class .transaction .ASpecifications > i.BTriangle {
                border: none;
                float: right;
                margin: 0px;
                position: absolute;
                right: 0px;
            }

    /*确认进货*/
    .productDetails-class .transaction .confirm {
        background-color: #f34242;
        color: #fff;
        font-size: 13px;
        text-align: center;
        border-radius: 2px;
        width: 33%;
        float: right;
        line-height: 43px;
    }

/*品牌商信息*/
.productDetails-class .Brands {
    overflow: hidden;
    display: block;
}

    .productDetails-class .Brands .BTitle {
        overflow: hidden;
        border: solid 1px #e5e5e5;
        padding: 5px 15px 0px 15px;
    }

        .productDetails-class .Brands .BTitle > h3 {
            float: left;
            overflow: hidden;
            border-bottom: solid 1px #f34242;
            color: #636363;
            font-size: 13px;
            line-height: 35px;
            margin: 0px;
        }

        .productDetails-class .Brands .BTitle > a {
            float: right;
            overflow: hidden;
            color: #636363;
            font-size: 13px;
            line-height: 31px;
            height: 35px;
        }

    .productDetails-class .Brands .BDetail {
        overflow: hidden;
        padding: 20px 15px;
    }

        .productDetails-class .Brands .BDetail > span {
            display: block;
            overflow: hidden;
            float: left;
            width: 64%;
            font-size: 13px;
            color: #636363;
        }

            .productDetails-class .Brands .BDetail > span > span {
                color: #f34242;
            }

        .productDetails-class .Brands .BDetail > a {
            display: block;
            overflow: hidden;
            text-align: center;
            text-align: center;
            font-size: 13px;
            color: #f34242;
            border: solid 1px #f34242;
            border-radius: 2px;
            float: right;
            width: 32%;
            line-height: 43px;
            position: absolute;
            right: 15px;
            top: 21px;
        }

.productDetails-class .DetailSwitch {
    overflow: hidden;
    display: block;
}

    .productDetails-class .DetailSwitch .button-bar > .button {
        /*background: no-repeat;*/
        border: none;
        font-size: 13px;
        color: #636363;
        height: 40px;
        line-height: 45px;
        bottom: -50%;
    }


.productDetails-buy .Specifications {
    height: 100%;
}
    /*.productDetails-buy .Specifications .*/
    .productDetails-buy .Specifications > ion-scroll {
        border: none;
        padding: 10px;
    }

    .productDetails-buy .Specifications .productList {
        overflow: hidden;
        border-bottom: solid 1px #e5e5e5;
    }

        .productDetails-buy .Specifications .productList ion-item {
            position: relative;
            margin-top: 5px;
        }

        .productDetails-buy .Specifications .productList h3 {
            overflow: hidden;
            color: #666666;
            font-size: 13px;
        }

        .productDetails-buy .Specifications .productList a.All {
            display: block;
            overflow: hidden;
            position: absolute;
            right: 0px;
            top: 0px;
            color: #666666;
            font-size: 13px;
        }

            .productDetails-buy .Specifications .productList a.All > i {
                /*font-size:25px;
                float: right;*/
            }

        .productDetails-buy .Specifications .productList div {
            overflow: hidden;
        }

            .productDetails-buy .Specifications .productList div > a {
                overflow: hidden;
                display: block;
                float: left;
                font-size: 12px;
                color: #444444;
                background-color: #eeeeee;
                text-align: center;
                padding: 2px 15px;
                margin: 0px 10px 5px auto;
                position: relative;
                border-radius: 2px;
            }

                .productDetails-buy .Specifications .productList div > a > span {
                    color: #f34242;
                    display: block;
                    height: 15px;
                    line-height: 15px;
                }

                .productDetails-buy .Specifications .productList div > a.active {
                    border: solid 1px #f34242;
                    padding: 1px 14px;
                }

                    .productDetails-buy .Specifications .productList div > a.active > i {
                        display: block;
                        position: absolute;
                        right: 0px;
                        bottom: -1px;
                        font-size: 15px;
                        color: #f34242;
                        height: 15px;
                        width: 15px;
                    }

.productDetails-buy.popover {
    opacity: 1;
    width: 100%;
    top: initial;
    left: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    opacity: 1;
}

.productDetails-buy > .popover-arrow {
    display: none;
}

/* 添加上“on”类名执行动画 */
.ASpecifications.on {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: people;
    animation-name: people;
    opacity: 1;
}

@-webkit-keyframes ASpecifications /* Safari 和 Chrome */
{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes ASpecifications {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}
