/*收藏*/
.A_Collect.active {
    color: #fcff00;
    line-height: 32px !important;
}

/*Banner 轮播*/
.productDetails-class .headImgDiv {
    overflow: hidden;
    background-color: #fff;
}

    .productDetails-class .headImgDiv .Img {
        width: 100%;
        padding-bottom: 60%;
        /*overflow: hidden;*/
    }

    .productDetails-class .headImgDiv .slider-pager .slider-pager-page {
        opacity: 0.4;
    }

        .productDetails-class .headImgDiv .slider-pager .slider-pager-page.active {
            color: #f34242;
            opacity: 1;
        }

.productDetails-class .transaction {
    overflow: hidden;
    display: block;
}

    .productDetails-class .transaction .Name {
        overflow: hidden;
        padding-bottom: 5px;
        border-bottom: solid 1px #e5e5e5;
    }

        .productDetails-class .transaction .Name > h2 {
            font-size: 15px;
            color: #676767;
            height: 40px;
            line-height: 40px;
            float: left;
            width: 82%;
            padding-left: 2%;
            margin: 0px;
        }

        .productDetails-class .transaction .Name > a {
            display: block;
            overflow: hidden;
            float: right;
            width: 15%;
            border-left: solid 1px #e5e5e5;
            height: 40px;
        }

            .productDetails-class .transaction .Name > a > span {
                color: #898989;
                text-align: center;
                font-size: 15px;
                display: block;
                overflow: hidden;
            }


    .productDetails-class .transaction .Order {
        overflow: hidden;
        padding: 0px 10px;
    }

        .productDetails-class .transaction .Order > div {
            overflow: hidden;
        }

            .productDetails-class .transaction .Order > div > span {
                color: #cccccc;
                font-size: 12px;
                overflow: hidden;
                padding: 5px 0px;
            }

    /*产品规格*/
    .productDetails-class .transaction .ASpecifications {
        border: solid 1px #e5e5e5;
        float: left;
        display: block;
        overflow: hidden;
        width: 65%;
        border-radius: 2px;
        color: #444;
        font-size: 16px;
        padding: 6px 0 5px 16px;
        line-height: 35px;
        height: 43px;
        font-size: 13px;
        position: relative;
    }

        .productDetails-class .transaction .ASpecifications > i {
            width: 33px;
            border-right: solid 1px #e5e5e5;
            padding: 7px 10px 4px 0;
            float: left;
            margin-right: 10px;
            font-size: 20px;
        }

            .productDetails-class .transaction .ASpecifications > i.BTriangle {
                border: none;
                float: right;
                margin: 0px;
                position: absolute;
                right: 0px;
            }

    /*确认进货*/
    .productDetails-class .transaction .confirm {
        background-color: #f34242;
        color: #fff;
        font-size: 13px;
        text-align: center;
        border-radius: 2px;
        width: 33%;
        float: right;
        line-height: 43px;
    }

/*品牌商信息*/
.productDetails-class .Brands {
    overflow: hidden;
    display: block;
}

    .productDetails-class .Brands .BTitle {
        overflow: hidden;
        border: solid 1px #e5e5e5;
        padding: 5px 15px 0px 15px;
    }

        .productDetails-class .Brands .BTitle > h3 {
            float: left;
            overflow: hidden;
            border-bottom: solid 1px #f34242;
            color: #636363;
            font-size: 13px;
            line-height: 35px;
            margin: 0px;
        }

        .productDetails-class .Brands .BTitle > a {
            float: right;
            overflow: hidden;
            color: #636363;
            font-size: 13px;
            line-height: 31px;
            height: 35px;
        }

    .productDetails-class .Brands .BDetail {
        overflow: hidden;
        padding: 20px 15px;
    }

        .productDetails-class .Brands .BDetail > span {
            display: block;
            overflow: hidden;
            float: left;
            width: 64%;
            font-size: 13px;
            color: #636363;
        }

            .productDetails-class .Brands .BDetail > span > span {
                color: #f34242;
            }

        .productDetails-class .Brands .BDetail > a {
            display: block;
            overflow: hidden;
            text-align: center;
            text-align: center;
            font-size: 13px;
            color: #f34242;
            border: solid 1px #f34242;
            border-radius: 2px;
            float: right;
            width: 32%;
            line-height: 43px;
            position: absolute;
            right: 15px;
            top: 21px;
        }

.productDetails-class .DetailSwitch {
    overflow: hidden;
    display: block;
}

    .productDetails-class .DetailSwitch .button-bar {
        border-bottom: solid 1px #eee;
    }

        .productDetails-class .DetailSwitch .button-bar > .button {
            /*background: no-repeat;*/
            border: none;
            font-size: 13px;
            color: #636363;
            height: 40px;
            line-height: 45px;
            bottom: -50%;
        }

    .productDetails-class .DetailSwitch .ImgBa {
        overflow: hidden;
    }

        .productDetails-class .DetailSwitch .ImgBa > div {
            overflow: hidden;
            width: 100%;
        }

            .productDetails-class .DetailSwitch .ImgBa > div > img {
                max-width: 100%;
                display: block;
            }

.productDetails-class .Evaluation {
    overflow: hidden;
    background-color: #f7f7f7;
}

    .productDetails-class .Evaluation .item {
        margin: 10px 0px;
        border-top: solid 1px #eee;
        border-bottom: solid 1px #eee;
        background: #fff;
    }

    .productDetails-class .Evaluation .userEva {
        overflow: hidden;
        position: relative;
        padding: 10px 90px 10px 0px;
        margin: 0px 10px;
        border-bottom: solid 1px #eee;
    }

        .productDetails-class .Evaluation .userEva > .Img {
            overflow: hidden;
            height: 25px;
            width: 25px;
            float: left;
            border-radius: 50%;
            background-color: #000;
            margin-right: 10px;
        }

        .productDetails-class .Evaluation .userEva > span {
            height: 25px;
            line-height: 25px;
            display: block;
            overflow: hidden;
            float: left;
            font-size: 14px;
            color: #7f7f7f;
        }

        .productDetails-class .Evaluation .userEva > .EvaTime {
            position: absolute;
            right: 10px;
            top: 10px;
        }

    .productDetails-class .Evaluation p {
        font-size: 14px;
        color: #7f7f7f;
        padding: 5px 10px;
        overflow: hidden;
        white-space: pre-wrap;
        height: 105px;
    }

    .productDetails-class .Evaluation .Picture {
        overflow: hidden;
        padding: 10px;
    }

        .productDetails-class .Evaluation .Picture > a {
            display: block;
            overflow: hidden;
            width: 30%;
            padding-bottom: 30%;
            float: left;
            margin: 5px 1.5%;
        }

/*商品购买信息页面*/
/*商品名称*/
.productDetails-buy {
    overflow: visible;
}

    .productDetails-buy .Commodity {
        position: relative;
        padding: 16px;
        background-color: #fff !important;
    }

        .productDetails-buy .Commodity > .Img {
            position: absolute;
            top: -30px;
            left: 16px;
            background-color: #fff;
            height: 70px;
            width: 70px;
            padding: 5px;
            overflow: hidden;
        }

            .productDetails-buy .Commodity > .Img > a {
                border: solid 1px #e5e5e5;
                display: block;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }

        .productDetails-buy .Commodity > h2 {
            overflow: hidden;
            font-size: 14px;
            color: #666666;
            margin: 0px 30px 0px 70px;
        }

        .productDetails-buy .Commodity > a {
            display: block;
            overflow: hidden;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 40px;
            font-size: 14px;
            color: #666666;
            height: 48px;
            line-height: 48px;
        }

    .productDetails-buy .Specifications {
        padding: 6px;
        background-color: #fff !important;
        position: relative;
    }
        /*商品购买选择*/
        .productDetails-buy .Specifications h3 {
            overflow: hidden;
            color: #666666;
            font-size: 13px;
        }

        .productDetails-buy .Specifications > ion-scroll {
            border: none;
            padding: 10px;
            height: 40vh;
        }

        .productDetails-buy .Specifications .productList {
            overflow: hidden;
            display: block;
        }

            .productDetails-buy .Specifications .productList ion-item {
                position: relative;
                margin-top: 5px;
                background-color: #fff;
            }

            .productDetails-buy .Specifications .productList h3 {
                margin: 5px auto 3px auto;
            }

            .productDetails-buy .Specifications .productList a.All {
                display: block;
                overflow: hidden;
                position: absolute;
                right: 0px;
                top: 0px;
                color: #666666;
                font-size: 13px;
            }

                .productDetails-buy .Specifications .productList a.All > i {
                    /*font-size:25px;
                float: right;*/
                }

            .productDetails-buy .Specifications .productList div {
                overflow: hidden;
                padding-bottom: 5px;
            }

                .productDetails-buy .Specifications .productList div > a {
                    overflow: hidden;
                    display: block;
                    float: left;
                    font-size: 12px;
                    color: #444444;
                    background-color: #eeeeee;
                    text-align: center;
                    padding: 2px 15px;
                    margin: 0px 10px 5px auto;
                    position: relative;
                    border-radius: 2px;
                }

                    .productDetails-buy .Specifications .productList div > a > span {
                        color: #f34242;
                        display: block;
                        height: 15px;
                        line-height: 15px;
                    }

                    .productDetails-buy .Specifications .productList div > a > i {
                        display: none;
                    }

                    .productDetails-buy .Specifications .productList div > a.on {
                        border: solid 1px #f34242;
                        padding: 1px 14px;
                    }

                        .productDetails-buy .Specifications .productList div > a.on > i {
                            display: block;
                            position: absolute;
                            right: 0px;
                            bottom: -1px;
                            font-size: 15px;
                            color: #f34242;
                            height: 15px;
                            width: 15px;
                        }

            /*进货数量*/
            .productDetails-buy .Specifications .productList .PurchaseNumber {
                padding-top: 15px;
                border-top: solid 1px #e5e5e5;
                overflow: hidden;
            }

                .productDetails-buy .Specifications .productList .PurchaseNumber > h3 {
                    float: left;
                }

            .productDetails-buy .Specifications .productList .NumberDiv {
                overflow: hidden;
                float: right;
            }

                .productDetails-buy .Specifications .productList .NumberDiv > a {
                    display: block;
                    overflow: hidden;
                    float: left;
                    font-size: 15px;
                    color: #f34242;
                    border: solid 1px #f34242;
                    border-radius: 2px;
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    text-align: center;
                    background-color: #fff;
                    padding: 0px;
                    margin: 0px 3px;
                }

                .productDetails-buy .Specifications .productList .NumberDiv > input {
                    overflow: hidden;
                    float: left;
                    font-size: 14px;
                    color: #aaaaaa;
                    text-align: center;
                    border: solid 1px #ccc;
                    width: 30%;
                }

    .productDetails-buy .Billing {
        overflow: hidden;
        border-top: solid 1px #e5e5e5;
        padding: 15px 20px;
        background-color: #fff;
    }

        .productDetails-buy .Billing > span {
            overflow: hidden;
            display: block;
            float: left;
            font-size: 14px;
            color: #666666;
            line-height: 30px;
        }

        .productDetails-buy .Billing > a {
            overflow: hidden;
            display: block;
            float: right;
            font-size: 14px;
            color: #fff;
            background-color: #f34242;
            text-align: center;
            line-height: 30px;
        }

.popover-backdrop.active {
    background-color: rgba(0,0,0,0.6) !important;
}

.productDetails-buy.popover {
    opacity: 1;
    width: 100%;
    top: initial;
    left: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    min-height: 60%;
    /*background-color: #fff;*/
}

.productDetails-buy > .popover-arrow {
    display: none;
}

/* 添加上“on”类名执行动画 */
.popover.active {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: popover;
    animation-name: popover;
    opacity: 1;
}

@-webkit-keyframes popover /* Safari 和 Chrome */
{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes popover {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}
