.psdSystemClass {
    background: no-repeat;
}

    .psdSystemClass .scroll-content {
        background: none;
    }

    /*透明背景*/
    .psdSystemClass .psbBg {
        background-color: #000;
        opacity: 0.6;
        min-height: 100%;
        min-width: 100%;
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .psdSystemClass .Commodity {
        background-color: #fff;
        width: 90%;
        margin: 0px 5%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 5px;
    }

        .psdSystemClass .Commodity > .list {
            border-radius: 5px;
            overflow: initial;
        }

        .psdSystemClass .Commodity .CommodityName {
            background-color: #fafafa;
            position: relative;
            border-bottom: solid 1px #d1d1d1;
            padding: 20px 35px 20px 15px;
            overflow: initial;
        }

            .psdSystemClass .Commodity .CommodityName h3 {
                overflow: hidden;
                font-size: 14px;
                color: #444;
            }

            .psdSystemClass .Commodity .CommodityName div {
                overflow: hidden;
                font-size: 13px;
                color: #888;
            }

            .psdSystemClass .Commodity .CommodityName .closePsd {
                width: 30px;
                height: 30px;
                position: absolute;
                right: 10px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 23px;
                color: #666;
                text-align: center;
                line-height: 28px;
                border-radius: 15px;
            }

        .psdSystemClass .Commodity .CommodityDetails {
            overflow: hidden;
            background-color: #fff;
            position: relative;
            padding: 20px 20px 20px 15px;
        }

            .psdSystemClass .Commodity .CommodityDetails > div {
                overflow: hidden;
                text-align: right;
                margin: 5px 0px;
            }

                .psdSystemClass .Commodity .CommodityDetails > div > span {
                    display: block;
                    overflow: hidden;
                    font-size: 14px;
                    color: #666666;
                }

                .psdSystemClass .Commodity .CommodityDetails > div > .CDtit {
                    float: left;
                    margin-right: 10px;
                }
