@charset "utf-8"; /* CSS Document */

*:focus {
    outline: none;
}
/*消除谷歌下input边框* /

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    _background-image: url(about:blank);
    _background-attachment: fixed;
}

/* 设置默认字体 */
body, button, input, select, textarea {
    font-family: "Microsoft yahei",Helvetica,sans-serif;
    /*font-family: "微软雅黑","宋体","Arail";*/
    font-size: 12px;
    line-height: 24px;
}

.titleFont {
    font-family: "Microsoft yahei","微软雅黑","Tahoma","Verdana","Arial","sans-serif";
}

.contentFont {
    font-family: "宋体","新宋体","Arial","sans-serif";
}

.enFont {
    font-family: "Arial","sans-serif";
}

.yahei {
    font-family: "微软雅黑","宋体","Arail";
}

.songti {
    font-family: "宋体","微软雅黑","Arail";
}

.Arail {
    font-family: "Arail","宋体","微软雅黑";
}

.Courier_New {
    font-family: "Courier New", Courier, monospace;
}

.Georgia {
    font-family: Georgia, "Arail", Times, serif;
}


/* 列表元素 */
ul, ol, li {
    list-style: none;
}

img {
    border: none;
}


/* a标签 */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
}




.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

.hide {
    display: none;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-sizing{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.whiteBg {
    background-color: #fff;
}
/* 定义边距 */
.mt5 {
    margin-top: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.ml95 {
    margin-left: 95px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mr25 {
    margin-right: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mr30 {
    margin-right: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mr35 {
    margin-right: 35px;
}


.mb35 {
    margin-bottom: 35px;
}


.ml35 {
    margin-left: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mr40 {
    margin-right: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mr50 {
    margin-right: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml50 {
    margin-left: 50px;
}

.pd10 {
    padding: 10px;
}

.pd20 {
    padding: 20px;
}

.pd30 {
    padding: 30px;
}

.pd40 {
    padding: 40px;
}

.pd50 {
    padding: 50px;
}

/* 定义宽高度 */
.kd1100 {
    width: 1100px;
}

.kd1150 {
    width: 1150px;
}

.kd1200 {
    width: 1200px;
}

.gd20 {
    height: 20px;
}

.gd30 {
    height: 30px;
}

/* 字体大小 */
.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.font28 {
    font-size: 28px;
}

.font30 {
    font-size: 30px;
}