.returnsDetail-Class .scroll-view{
	height: 100%;
}

.returnsDetail-Class .returnsDetail-Content{
	height: 100%;
}

.returnDetail .returnDetail-header {
	display: block;
    padding: 0 10px;
    overflow: hidden;
    border: 1px solid #eaeaea;
}

.returnDetail .returnDetail-header .header-info {
	height: 50px;
    line-height: 50px;
}

.returnDetail .returnDetail-content {
	display: block;
	padding: 20px 10px;

}

.returnsDetail-Class .returnsDetail-Content .item p{
	font-size: 13px;
}