.waitEvaluation-Class a.activated {
    background: none !important;
}

.waitEvaluation-Class {
    background-color: #f1f1f1;
}

    .waitEvaluation-Class .listPayment {
        display: block;
    }

        .waitEvaluation-Class .listPayment .item {
            overflow: hidden;
            background-color: #fff;
            border-top: solid 1px #eee;
            position: relative;
            padding: 11px 10px 11px 120px;
            display: block;
            height: 120px;
        }
        /*产品图片*/
        .waitEvaluation-Class .listPayment .Img {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px;
            height: 100px;
            overflow: hidden;
        }

        /*标题*/
        .waitEvaluation-Class .listPayment h3 {
            font-size: 15px;
            color: #000;
            height: 30px;
            line-height: 15px;
            margin: 0px;
            white-space: normal;
        }

        .waitEvaluation-Class .listPayment span {
            display: block;
            font-size: 14px;
            color: #808080;
            margin-top: 5px;
            white-space: normal;
        }

        .waitEvaluation-Class .listPayment .EvaButtom {
            display: block;
            overflow: hidden;
            font-size: 13px;
            color: #f00;
            height: 30px;
            line-height: 30px;
            border: solid 1px #f00;
            border-radius: 3px;
            padding: 0px 10px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            background-color: #fff;
        }

            .waitEvaluation-Class .listPayment .EvaButtom > i {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 30px;
                margin-right: 4px;
            }
