<ion-view title="资讯" class="infoHome-class">
    <!--Header部分-->
    <ion-nav-title>
        <h1 class="titleNav Title">资讯</h1>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>

    <ion-content>
        <ion-list ng-repeat="catagory in information.array_1">
            <ion-item ng-if="catagory.a_gotoStatus=='False'" class="item item-thumbnail-left" ng-href="/informationDetail/{{catagory.a_id}}">
                <div class="Img imgMax" style="background-image: url({{catagory.a_pic}});"></div>
                <h3 ng-bind="catagory.a_title"></h3>
                <p ng-bind="catagory.a_descript"></p>
                <i class="PFIcon-Rarrow"></i>
                <span ng-bind="catagory.a_addTime"></span>
            </ion-item>

            <ion-item ng-if="catagory.a_gotoStatus=='True'" class="item item-thumbnail-left" ng-href="{{catagory.a_gotoUrl}}">
                <div class="Img imgMax" style="background-image: url({{catagory.a_pic}});"></div>
                <h3 ng-bind="catagory.a_title"></h3>
                <p ng-bind="catagory.a_descript"></p>
                <i class="PFIcon-Rarrow"></i>
                <span ng-bind="catagory.a_addTime"></span>
            </ion-item>

        </ion-list>
        <p class="noData mb15" ng-if="!noData">没有更多数据了！</p>
        <!-- 滚动刷新 -->
        <ion-infinite-scroll on-infinite="loadMore();" ng-if="noData" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>