<ion-view title="咨询" class="infoHome-class">
    <!--Header部分-->
    <ion-nav-title>
        <h1 class="titleNav Title">咨询</h1>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="/images/person-girl-flat.png" />
                <h3>Venkman</h3>
                <p>我们周末去爬山吧！</p>
                <i class="PFIcon-Rarrow"></i>
                <span>2016-12-12</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>