<ion-view title="商品详情" class="productDetails-class">
    <!--Header部分-->
    <ion-nav-title>
        <h1 class="titleNav Title">商品详情</h1>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/ordersHome')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton PFIcon-Collect"></a><a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>

    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" class="headImgDiv" does-continue="true">
            <ion-slide>
                <div class="Img">
                    <img src="/images/productDetailsBanner.jpg" />
                </div>
            </ion-slide>
            <ion-slide>
                <div class="Img">
                    <img src="/images/productDetailsBanner.jpg" />
                </div>
            </ion-slide>
            <ion-slide>
                <div class="Img">
                    <img src="/images/productDetailsBanner.jpg" />
                </div>
            </ion-slide>
        </ion-slide-box>
        <ion-list class="transaction whiteBg">
            <ion-item class="Name"><h2>Beats Solo2 无线头戴式耳机 - 黑色</h2><a href="javascript:void(0)"><span class="PFIcon-shareIt"></span><span>分享</span></a></ion-item>
            <ion-item class="Order">
                <div class="row Description"><span class="col col-40 ellipsis">已售出：201889 件</span><span class="col col-30 ellipsis">好评率：98%</span><span class="col col-30 ellipsis">是否包邮：是</span></div>
                <div>
                    <a class="ASpecifications on" ng-click="payProClick();"><i class="PFIcon-address"></i>产品规格数量选择<i class="PFIcon-BTriangle BTriangle"></i></a>
                    <a href="javascript:;" class="confirm">确认进货</a>
                </div>
                <div class="row"><span class="col ellipsis">交易支持：混批</span><span class="col ellipsis" style="text-align:right;">交易保障：15天无理由退换货</span></div>
            </ion-item>
        </ion-list>
        <ion-list class="Brands whiteBg mt10">
            <ion-item class="BTitle"><h3>品牌商信息</h3><a href="javascript:void(0)" class="PFIcon-Rarrow"></a></ion-item>
            <ion-item class="BDetail"><span>深圳市罗技电子科技有限公司</span><span>是否需要会员购买：<span>是</span></span><a href="javascript:void(0)">申请成为会员</a></ion-item>
        </ion-list>
        <ion-list class="DetailSwitch whiteBg mt10">
            <ion-item class="button-bar"><a class="button button-outline">产品详情</a><a class="button button-outline">成交(2312)</a><a class="button button-outline">评价(1245)</a><a class="button button-outline">进货保障</a></ion-item>
            <ion-item class="ImgBa">
                <div><img src="/images/sort/TB2d_2DhFXXXXaEXXXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB22T99hFXXXXXwXFXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB24d6ehFXXXXbLXpXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2C_TmhFXXXXX_XpXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2c7fdhFXXXXbjXpXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2e4rkhFXXXXaDXpXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2gkfAhFXXXXbDXXXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2juTHhFXXXXagXXXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2M1HfhFXXXXaMXpXXXXXXXXXX_!!647482297.jpg" /></div>
                <div><img src="/images/sort/TB2qXTJhFXXXXX4XXXXXXXXXXXX_!!647482297.jpg" /></div>
                    <div><img src="/images/sort/TB2UQYyhFXXXXb1XXXXXXXXXXXX_!!647482297.jpg" /></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>