<ion-view title="商品详情" class="productDetails-class">
    <!--Header部分-->
    <ion-nav-title>
        <h1 class="titleNav Title">商品详情</h1>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/ordersHome')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right" modal-linkage>
        <a href="javascript:void(0)" class="headRButton PFIcon-Collect A_Collect" ng-click="ChangeIsActive()" ng-class="{true: 'PFIcon-favorite active', false: ''}[isActive]"></a><a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon" ng-click="openSearch();"></a>
    </ion-nav-buttons>

    <ion-content picture_img_one picture_img>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" class="headImgDiv" does-continue="true">
            <ion-slide ng-repeat = "basicImg in basicData[0].p_Pic.split(',')">
                <div class="Img imgMax" style="background-image: url('{{basicImg}}'); "></div>
            </ion-slide>
        </ion-slide-box>

        <ion-list class="transaction whiteBg">
            <ion-item class="Name">
                <h2 ng-bind="basicData[0].p_name"></h2>
                <!-- -<span ng-bind = "detailParme[0].p_param1" style="float:left;"></span> -->
                <a href="javascript:void(0)">
                    <span class="PFIcon-shareIt"></span>
                    <span>分享</span>
                </a>
            </ion-item>
            <ion-item class="Order">
                <div class="row Description">
                    <span class="col col-40 ellipsis" ng-if = "basicData[0].p_showSaleNum == 'True'">已售出：{{basicData[0].p_saleNum}} {{basicData[0].p_unit}}</span>
                    <span class="col col-30 ellipsis">好评率：98%</span>
                    <span class="col col-30 ellipsis" ng-if ="basicData[0].p_freeFreight == 'True'">是否包邮：是</span>
                    <span class="col col-30 ellipsis" ng-if ="basicData[0].p_freeFreight == 'False'">是否包邮：否</span>
                </div>
                <div>
                    <a class="ASpecifications on" ng-click="payProClick();"><i class="PFIcon-address"></i>产品规格数量选择<i class="PFIcon-BTriangle BTriangle"></i></a>
                    <a href="javascript:;" class="confirm">确认进货</a>
                </div>
                <div class="row"><span class="col ellipsis" ng-if = "basicData[0].p_mixBuy == 'True'">交易支持：混批</span><span class="col ellipsis" style="text-align:right;">交易保障：15天无理由退换货</span></div>
            </ion-item>
        </ion-list>
        <ion-list class="Brands whiteBg mt10">
            <ion-item class="BTitle"><h3>品牌商信息</h3><a href="javascript:void(0)" class="PFIcon-Rarrow"></a></ion-item>
            <ion-item class="BDetail"><span>深圳市罗技电子科技有限公司</span><span>是否需要会员购买：<span>是</span></span><a href="javascript:void(0)">申请成为会员</a></ion-item>
        </ion-list>

        <ion-list class="DetailSwitch whiteBg mt10" on-scroll="true">
            <ion-item class="button-bar">
                <a class="button button-outline" ng-repeat="item in pList.classList" ng-click="De_Switch.set($index)" ng-class="{'on':De_Switch.get($index)}" ng-bind="item.Class"></a>
            </ion-item>
            <ion-item ng-repeat="item in pList.classList[De_Switch.proIndex].List" class="ImgBa" ng-show="De_Switch.proIndex==0">
                <div><img src="{{item.ImgBa}}" /></div>
            </ion-item>
            <ion-item ng-repeat="item in pList.classList[De_Switch.proIndex].List" class="Evaluation" ng-show="De_Switch.proIndex==1" picture_img>
                <ion-list>
                    <ion-item>
                        <div class="userEva"><div class="Img" style="background-image: url('{{item.Img}}'); "></div><span class="userName">{{item.userName}}</span><span class="EvaTime">{{item.EvaTime}}</span></div>
                        <p>{{item.Review}}</p>
                        <div class="Picture">
                            <a href="javascript:;" class="imgMax" style="background-image: url({{item.Picture}}); " ng-click="openPopover();"></a>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item ng-repeat="item in pList.classList[De_Switch.proIndex].List" class="Evaluation" ng-show="De_Switch.proIndex==2" picture_img>
                <ion-list>
                    <ion-item>
                        <div class="userEva"><div class="Img" style="background-image: url('{{item.Img}}'); "></div><span class="userName">{{item.userName}}</span><span class="EvaTime">{{item.EvaTime}}</span></div>
                        <p>{{item.Review}}</p>
                        <!--<ion-scroll direction="x" shouldfreeze="x" scrollbar-x="false" locking="true" zooming="false" has-bouncing="true" class="NewPro" ng-class="NewPro" style=" height:92px ;margin: -16px 10px 0px 10px; " ng-style="scrollHeight">
                            <ion-list class="Picture">
                                <ion-item ng-repeat="y in item.Picture track by $index" href="javascript:;" class="imgMin" style="background-image: url({{y}}); " ng-click="openPopover(item.Picture);"></ion-item>
                            </ion-list>
                        </ion-scroll>-->
                        <ion-list class="Picture">
                            <ion-item ng-repeat="y in item.Picture track by $index" href="javascript:;" class="imgMin" style="background-image: url({{y}}); " ng-click="openPopover(item.Picture);"></ion-item>
                        </ion-list>
                        <!--<ion-slide-box class="Picture" delegate-handle="slideimgs" does-continue="true" show-pager="false" >
                            <ion-slide ng-repeat="item in pList.classList[De_Switch.proIndex].List track by $index">
                                <a href="javascript:;" class="imgMin" ng-repeat="yy in item.Picture track by $index" style="background-image: url({{yy}}); " ng-click="openPopover(item.Picture);"></a>
                            </ion-slide>
                        </ion-slide-box>-->
                        <!--<ion-slide-box class="Picture" delegate-handle="slideimgs" does-continue="true" show-pager="false">
                            <ion-slide ng-repeat="item in CompanyThearList track by $index">
                                <a ng-href="javascript:void(0);" class="imgMax" ng-repeat="yy in item.List track by $index" style="background: url('{{yy.ImageUrl}}')" ng-click="openThearModal(yy.Id);"></a>
                            </ion-slide>
                        </ion-slide-box>-->
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item ng-repeat="item in pList.classList[De_Switch.proIndex].List" ng-show="De_Switch.proIndex==3">
                <p>{{item.Description}}</p>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>