<ion-view title="商品详情" class="productDetails-class">
    <!--Header部分-->
    <ion-nav-title>
        <h1 class="titleNav Title">商品详情</h1>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/ordersHome')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right" modal-linkage>
        <!--收藏商品按钮 -->
        <a href="javascript:void(0)" class="headRButton PFIcon-Collect A_Collect" ng-class="{'PFIcon-favorite active':details.C_status == '1','PFIcon-Collect': details.C_status == '0'}" ng-click="is_like()"></a>

        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon" ng-click="openSearch();"></a>
    </ion-nav-buttons>

    <ion-content picture_img_one picture_img>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" class="headImgDiv" does-continue="true">
            <ion-slide ng-repeat = "img in basicImg">
                <div class="Img imgMax" style="background-image: url('{{img}}'); "></div>
            </ion-slide>
        </ion-slide-box>
        <ion-list class="transaction whiteBg">
            <ion-item class="Name">
                <h2 ng-bind="details.p_name"></h2>
                <!-- -<span ng-bind = "detailParme[0].p_param1" style="float:left;"></span> -->
                <a href="javascript:void(0)">
                    <span class="PFIcon-shareIt"></span>
                    <span>分享</span>
                </a>
            </ion-item>
            <ion-item class="Order">
                <div class="row Description" style="padding: 7px 0;">
                    <span class="col col-40 ellipsis" style="text-align: left;" ng-if = "details.p_showSaleNum == 'True'" ng-bind="'已售出：'+details.p_saleNum +details.p_unit"></span>
                    <span class="col col-30 ellipsis">好评率：98%</span>
                    <span class="col col-30 ellipsis" ng-if ="details.p_freeFreight == 'True'">是否包邮：是</span>
                    <span class="col col-30 ellipsis" style="text-align: right;" ng-if="details.p_freeFreight == 'False'">是否包邮：否</span>
                </div>
                <div>
                    <a class="ASpecifications on" ng-click="payProClick();"><i class="PFIcon-address"></i>产品规格数量选择<i class="PFIcon-BTriangle BTriangle" style="width:25px;"></i></a>
                    <!--<a href="javascript:;" class="confirm">确认进货</a>-->
                </div>
                <div class="row" style="padding: 7px 0;"><span class="col ellipsis" style="text-align: left;" ng-if="details.p_mixBuy == 'True'">交易支持：混批</span><span class="col ellipsis" style="text-align:right;">交易保障：15天无理由退换货</span></div>
            </ion-item>
        </ion-list>
        <ion-list class="Brands whiteBg mt10">
            <ion-item class="BTitle"><h3>品牌商信息</h3><a href="javascript:void(0)" class="PFIcon-Rarrow"></a></ion-item>
            <ion-item class="BDetail"><span ng-bind="details.pa_name"></span><span>是否需要会员购买：<span>是</span></span><a href="javascript:void(0)">申请成为会员</a></ion-item>
        </ion-list>
        <ion-list class="switch mt10">
            <ion-item class="button-bar">
                <a class="button button-outline" ng-click="De_Switch.set(0)" ng-class="{'on':De_Switch.get(0)}">产品详情</a>
                <a class="button button-outline" ng-click="De_Switch.set(1)" ng-class="{'on':De_Switch.get(1)}">成交()</a>
                <a class="button button-outline" ng-click="De_Switch.set(2)" ng-class="{'on':De_Switch.get(2)}">评价({{details.p_valuationNum}})</a>
                <a class="button button-outline" ng-click="De_Switch.set(3)" ng-class="{'on':De_Switch.get(3)}">进货保障</a>
            </ion-item>
        </ion-list>
        <!-- 0为产品详情，1为成交，2为评价，4为进货保障 -->
        <ion-list class="switch-section">
            <!-- 产品详情 -->
            <ion-item style="padding: 15px 10px;" ng-if="De_Switch.proIndex =='0'">
                <p>
                    <span ng-bind="details.p_content"></span>
                </p>
            </ion-item>
            <!-- 成交 -->
            <ion-item style="padding: 15px 10px;" ng-if="De_Switch.proIndex =='1'">
                <div class="">
                    <p>
                        <span>成交</span>
                    </p>
                </div>

            </ion-item>
            <!--评价 -->
            <ion-item style="padding: 0 10px 15px 10px;" ng-if="De_Switch.proIndex =='2'">
                <div class="reviews" ng-repeat="poss in posss">
                    <p class="header-bar">
                        <span class="header-avatar imgMin pull-left" style="background-image:url('{{poss.s_pic}}')"></span>
                        <span class="header-title pull-left" ng-bind="poss.s_nick"></span>
                        <span class="header-time pull-right" ng-bind="poss.com_addtime"></span>
                    </p>
                    <p style="color: #ccc; margin-top: 15px;">
                        <i class="PFIcon-Star" ng-class="{'check-star': poss.com_level >= '1'}"></i>
                        <i class="PFIcon-Star" ng-class="{'check-star': poss.com_level >= '2'}"></i>
                        <i class="PFIcon-Star" ng-class="{'check-star': poss.com_level >= '3'}"></i>
                        <i class="PFIcon-Star" ng-class="{'check-star': poss.com_level >= '4'}"></i>
                        <i class="PFIcon-Star" ng-class="{'check-star': poss.com_level >= '5'}"></i>
                    </p>
                    <p class="content">
                        <span ng-bind="poss.com_content"></span>
                    </p>
                </div>
            </ion-item>
            <!--进货保障 -->
            <ion-item style="padding: 15px 10px;" ng-if="De_Switch.proIndex =='3'">
                <p>
                    <span>进货保障</span>
                </p>
            </ion-item>
        </ion-list>
</ion-content>
</ion-view>