<ion-view class="ordersInfo-Class">
	<!-- header -->
	<ion-nav-buttons side="left">
	    <a href="javascript:void(0)" class="headReturn PFIcon-back" ng-click="$ionicGoBack('/ordersHome')">返回</a>
	</ion-nav-buttons>
	<ion-nav-title class="danger">
		<h1 class="titleNav">填写订单信息</h1>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a href="javascrpt:;" class="edit-btn" ng-click="">编辑</a>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true" class="scroll-content has-header">
		<!-- <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher> -->
		<div class="ordersInfo-Content">
			<ion-scroll>
				<div class="orders-information margin-xs-bottom">
					<ion-list>
						<ion-item>
							<p class="prompt border-bottom">选择收货方式<span class="pull-right font-secondary">当前：物流运输</span></p>
						</ion-item>
						<ion-item>
							<a class="recive-info" ui-sref="pickup">
								<div class="recive-name">刘先生，13927595547</div>
								<div class="recive-address">深圳市南山区西丽街道南新花园A栋10H</div>
								<i class="fa fa-angle-right fa-ms-right-absolute" aria-hidden="true"></i>
							</a>
						</ion-item>
					</ion-list>
				</div>
				<div class="orders-information margin-xs-bottom">
					<ion-list>
						<ion-item>
							<p class="prompt border-bottom">发票信息</p>
						</ion-item>
						<ion-item>
							<a class="recive-info" ng-href="#/invoice">
								<span class="invoice zx-font">个人发票，抬头：XXX</span>
								<i class="fa fa-angle-right fa-recive-absolute" aria-hidden="true"></i>
							</a>
						</ion-item>
					</ion-list>
				</div>
				<div class="orders-information margin-xs-bottom">
					<ion-list>
						<ion-item>
							<p class="prompt border-bottom">备注信息</p>
						</ion-item>
						<ion-item>
							<a class="recive-info">
								<span class="invoice zx-font font-secondary">点击此处填写给品牌商的备注信息</span>
								<i class="fa fa-angle-right fa-recive-absolute" aria-hidden="true"></i>
							</a>
						</ion-item>
					</ion-list>
				</div>
				<div class="orders-information margin-xs-bottom">
					<ion-list>
						<ion-item>
							<a class="prompt border-bottom">进货单内容<span class="pull-right" style="margin-right:10px;">深圳罗技电子科技有限公司</span>
							<i class="fa fa-angle-right fa-recive-absolute" aria-hidden="true"></i>
							</a>
						</ion-item>
						<ion-item>
							<div class="orders-group">
								<div class="orders-item-wrap">
									<a href="" class="orders-item">
										<div class="orders-item-info">
											<div class="orders-item-avatar imgMin" style="background:url(/images/ear.jpg)">
											</div>
											<div class="orders-item-message">
												<h3 class="orders-item-name ellipsis">Beats Solo2 无线头戴式耳机</h3>
												<div class="orders-item-text ellipsis margin-xs-top">
													<span class="">￥199.00 x3 </span>
													<span>|</span>
				 									<span>颜色分类：黑色</span>
													<span>版本：普通版</span>
												</div>
											</div>
											<i class="fa fa-angle-right fa-right-absolute" aria-hidden="true"></i>
										</div>
									</a>
								</div>
							</div>
							
						</ion-item>
						<ion-item>
							<div class="orders-amount">
								<div class="amount border-bottom">
									<p class="font-secondary">订单金额<span class="pull-right">3478.00元</span></p>
								    <p class="font-secondary">运费<span class="pull-right">0.00元</span></p>
								</div>
								<div class="orders-amount-total">
									<p class="">订单总金额<span class="pull-right font-denger">3748.00元</span></p>
								</div>
							</div>
						</ion-item>

					</ion-list>
				</div>
			</ion-scroll>
			<div class="bottom-wrap">
				<a ui-sref = "ordersPay" href="pay" class="bottom-wrap">
					<div class="pay-btn">
						前往支付订单
					</div>
				</a>
			</div>		
		</div>
	</ion-content>
</ion-view>