<ion-view class="pickup-Class">
	<ion-nav-buttons side="left">
        <a href="javascript:history.back();" class="headReturn"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title class="danger">
		<h1 class="titleNav">选择取货方式</h1>
	</ion-nav-title>
	<ion-nav-buttons side="right">
        <a href="javascrpt:;" class="edit-btn" ng-click="addAddress();">管理地址</a>
	</ion-nav-buttons>
	<ion-content>
		<div class="Content">
			<ion-list>
                <ion-item ng-repeat="people in pickups">
                    <div class="pickup-wrap" ng-click="is_pick(people,'1')">
                        <div class="left-check">
                            <i class="fa-pickup-absolute fa-sm-font" ng-class="{'PFIcon-Hook': pro.checked=='{{people.a_id}}'}" aria-hidden="true"></i>
                        </div>
                        <div class="pickup-info">
                            <div class="pickup-name">
                                <span ng-bind="people.a_name"></span> ，
                                <span ng-bind="people.a_phone"></span>
                                <span class="default" ng-if="people.a_isDefault=='True'">默认</span>
                            </div>
                            <div class="pickup-address ellipsis">
                                <span ng-bind="people.a_prov"></span>
                                <span ng-bind="people.a_city" ng-if="people.a_prov !=people.a_city"></span>
                                <span ng-bind="people.a_dist"></span>
                                <span class="ellipsis address" ng-bind="people.a_detailAddr"></span>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item ng-if="toSelf._selfPick =='True'">
                    <div class="pickup-wrap">
                        <div class="pickup-title" ng-click="is_pick(toSelf,'2',$index)">
                            <i class="fa-pickup-self fa-sm-font" ng-class="{'PFIcon-Hook': pro.checked =='{{toSelf.a_id}}'}" aria-hidden="true"></i>
                            <p class="">自行取货</p>
                        </div>
                        <!-- <i class="PFIcon-Square fa-pickup-default-absolute fa-sm-font font-secondary" aria-hidden="true"></i> -->
                        <div class="pickup-info">
                            <div class="pickup-location margin-xs-top">
                                <p>
                                    <span ng-bind="toSelf._landLine"></span>
                                    <span ng-bind="toSelf._phone"></span>
                                </p>
                                <p>
                                    <span ng-bind="toSelf._prov"></span>
                                    <span ng-bind="toSelf._city" ng-if="toSelf._prov != toSelf._city"></span>
                                    <span ng-bind="toSelf._dist"></span>
                                    <span ng-bind="toSelf._detailAddr"></span>
                                </p>
                            </div>
                            <div class="pickup-toaddress margin-ms-top box-sizing">
                                <input type="text" class="input" placeholder="请输入手机号码">
                                <div class="tophone">发送地址到手机</div>
                            </div>
                        </div>
                    </div>
                </ion-item>
			</ion-list>
		</div>
	
	</ion-content>
</ion-view>