<ion-view class="pickup-Class">
	<ion-nav-buttons side="left">
	    <a href="javascript:void(0)" class="headReturn PFIcon-back" ng-click="$ionicGoBack('/ordersInfo')">返回</a>
	</ion-nav-buttons>
	<ion-nav-title class="danger">
		<h1 class="titleNav">选择取货方式</h1>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a href="javascrpt:;" class="edit-btn" ng-click="">管理地址</a>
	</ion-nav-buttons>
	<ion-content>
		<div class="Content">
			<ion-list>
				<ion-item>
					<div class="pickup-wrap">
						<i class="fa fa-square-o fa-pickup-absolute fa-sm-font font-secondary" aria-hidden="true"></i>
						<div class="pickup-info">

							<div class="pickup-name">
								刘先生，13927596598 
							</div>
							<div class="pickup-address">
								深圳市南山区西丽街道南新花园A栋10H
							</div>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<div class="pickup-wrap">
						<i class="fa fa-square-o fa-pickup-absolute fa-sm-font font-secondary" aria-hidden="true"></i>
						<div class="pickup-info">

							<div class="pickup-name">
								刘先生，13927596598 
							</div>
							<div class="pickup-address">
								深圳市南山区西丽街道南新花园A栋10H
							</div>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<div class="pickup-wrap">
						<i class="fa fa-square-o fa-pickup-default-absolute fa-sm-font font-secondary" aria-hidden="true"></i>
						<div class="pickup-info">

							<div class="pickup-name">
								自行取货
							</div>
							<div class="pickup-location margin-xs-top">
								<p>刘先生，13927596598</p>
								<p>深圳市南山区西丽街道南新花园A栋10H</p>
							</div>
							<div class="pickup-toaddress margin-ms-top box-sizing">
								<input type="text" class="input" placeholder="请输入手机号码">
								<div class="tophone">发送地址到手机</div>
							</div>
						</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
	

	</ion-content>
</ion-view>