<ion-popover-view class="afterService comfirm-wrap">
    <div class="service-body" style="height:136px;">
        <p class="header" style="text-align:center;">
            是否确认删除？
        </p>
        <div class="button-warp">
            <div class="col-xs-2 pull-left">
                <a class="back-btn" ng-click="closeConfirm();">取消</a>
            </div>
            <div class="col-xs-2 pull-left">
                <a class="replace-btn" ng-click="delete_confirm();">确定</a>
                <!-- <a class="replace-btn" ui-sref = "replaceGoods">我要换货</a> -->
            </div>
        </div>
    </div>
</ion-popover-view>
