<ion-popover-view class="productDetails-buy">
    <div class="Commodity">
        <div class="Img"><a class="imgMax" style="background-image: url('{{basicData[0].p_Pic.split(',')[0]}}')"></a></div>
        <h2 ng-bind="basicData[0].p_name"></h2>
        <a href="javascript:void(0)" class="close" ng-click="closePopover()">x</a>
    </div>
    <div class="item Specifications">
        <ion-scroll class="item Specifications" direction="y" zooming="false" scrollbar-y="false">
            <ion-list class="productList">
                <ion-item>
                    <h3 ng-bind="basicData[0].p_paramTitle1"></h3>
                    <a href="javascript:void(0)" class="All">全部<i class="PFIcon-BTriangle"></i></a>
                    <div class="mt10">
                        <a href="javascript:;" ng-repeat="item in detailParme track by $index | unique: 'item.p_param1'" ng-click="SetCheck(item,detailParme)" ng-class="{'on':item.Check}"><span ng-bind="item.p_param1"></span><i class="PFIcon-Tick"></i></a>
                    </div>
                </ion-item>
                <ion-item>
                    <h3 ng-bind="basicData[0].p_paramTitle2"></h3>
                    <a href="javascript:void(0)" class="All">全部<i class="PFIcon-BTriangle"></i></a>
                    <div class="mt10">
                        <a href="javascript:;" ng-repeat="item in detailParme[0] track by $index" ng-click="SetCheck(item,detailParme[0])" ng-class="{'on':item.Check}">{{item.p_param2}}<i class="PFIcon-Tick"></i></a>
                    </div>
                </ion-item>
                <ion-item>
                    <h3>批价</h3>
                    <div class="mt10">
                        <a href="javascript:;" ng-repeat="item in AllModel.PriceModel track by $index" ng-click="SetCheck(item,AllModel.PriceModel)" ng-class="{'on':item.Check}">{{item.TypeName}}<span>{{item.TypePrice}}</span><i class="PFIcon-Tick"></i></a>
                    </div>
                </ion-item>
                <ion-item class="PurchaseNumber">
                    <h3>进货数量</h3><div class="NumberDiv"><a href="javascript:;" ng-click="add()">+</a><input type="text" ng-model="varlist.itemNum" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" /><a href="javascript:;" ng-click="minus()">-</a></div>
                </ion-item>
            </ion-list>
        </ion-scroll>

    </div><div class="Billing row"><span class="col">已选5种共{{varlist.itemNum}}件商品</span><a href="javascript:;" class="confirm col">确定</a></div>
</ion-popover-view>