<ion-popover-view class="afterService">
    <div class="service-body">
        <p class="header">
            售后服务
            <i class="icon PFIcon-Cancal pull-right" ng-click="closePrompt()"></i>
        </p>
        <div class="button-bar">
            <div class="col-xs-2">
                <a class="back-btn" ui-sref ="backGoods">我要退货</a>
            </div>
            <div class="col-xs-2">
                <a class="replace-btn" ui-sref = "replaceGoods">我要换货</a>
            </div>
        </div>
        <div class="policy">
            退换货政策，点击此处查看
        </div>
    </div>
</ion-popover-view>