<ion-popover-view class="province-class">
    <div class="header">
        
        <h2 class="ellipsis title">请选择</h2>
        <!-- <a href="javascript:void(0)" class="close" ng-click="closePopover()">x</a> -->
    </div>
    <div class="Specifications">
        <ion-scroll class="item Specif" direction="y" zooming="false" scrollbar-y="false">
            <ion-list class="productList">
                <ion-item>
                    北京市
                </ion-item>
                <ion-item>
                    上海市
                </ion-item>
                <ion-item>
                    深圳市
                </ion-item>
                <ion-item>
                    广州市
                </ion-item>
                <ion-item>
                    重庆市
                </ion-item>
                <ion-item>
                    四川省
                </ion-item>
            </ion-list>
        </ion-scroll>

 
</ion-popover-view>