<ion-popover-view class="province-class">
    <div class="header">
        
        <h2 class="ellipsis title">请选择</h2>
        <!-- <a href="javascript:void(0)" class="close" ng-click="closePopover()">x</a> -->
    </div>
    <div class="Specifications">
        <ion-scroll class="Specif" direction="y" zooming="false" scrollbar-y="false">
            <ion-list class="province">
                <ion-item ng-click="provinceEvent(cityItem.p);">
                    <p class="content">北京市</p>
                </ion-item>
            </ion-list>
        </ion-scroll>
</ion-popover-view>