<ion-popover-view class="province-class">
    <div class="header">
        
        <h2 class="ellipsis title">请选择</h2>
        <a href="javascript:void(0)" class="close" ng-click="close()">取消</a>
    </div>
    <div class="Specifications">
        <ion-scroll class="Specif" direction="y" zooming="false" scrollbar-y="false" style="height:100%;">
            <ion-list class="province">
                <ion-item ng-repeat="identity in identities" ng-click="identityEvent(identity.name);">
                    <p class="content" ng-bind="identity.name"></p>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </div>
</ion-popover-view>