<ion-modal-view class="psdSystemBox-class">
    <ion-content>
        <div class="psbBg"></div>
        <ion-list class="Commodity">
            <ion-item class="CommodityName">
                <h3 class="ellipsis">Beats Solo2 无线头戴式耳机</h3>
                <div class="ellipsis"><span>预购数量：8000件</span> / <span>单件价格：19.00元</span></div>
                <a ng-click="closepsdSystemBox()" class="closePsd">×</a>
            </ion-item>
            <ion-item class="CommodityDetails">
                <div><span class="CDtit">预购总资金</span><span>￥2900.00</span></div>
                <div><span class="CDtit">销价</span><span>￥29.00~￥31.00</span></div>
                <div><span class="CDtit">预购日期</span><span>2016年10月16日</span></div>
                <div><span class="CDtit">提醒</span><span>是</span></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>







