<ion-modal-view class="productDetails-buy">
    <ion-header-bar class="headBar">
        <a href="javascript:void(0)" class="buttons buttons-left headReturn" ng-click="closeModal();"><i class="PFIcon-back"></i>返回</a>
        <h1 class="title title-center header-item titleNav ">商品列表</h1>
        <div class="buttons buttons-right">
            <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
            <a href="javascript:void(0)" class="headRButton PFIcon-filter"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="contentTop"><h2>筛选商品</h2><a href="javascript:;" ng-click="closeModal();">x</a></div>
        <ion-list class="screenList">
            <ion-item>
                <h3>品牌</h3><a href="javascript:;">全部<i class="PFIcon-BTriangle"></i></a>
                <div>
                    <a href="javascript:;" class="ellipsis" ng-repeat="brand in brands track by $index" ng-click="SetCheck(brand,brands)" ng-class="{'on':brand.check}"><em ng-bind="brand.name"></em><i class="PFIcon-Tick"></i></a>
                    <a href="javascript:;" class="ellipsis" ng-if="!noData_2">全部<i class="PFIcon-Tick"></i></a>
                    <a href="javascript:;" class="ellipsis" ng-click="loadMore(2)" ng-if="noData_2">...<i class="PFIcon-Tick"></i></a>
                </div>
            </ion-item>
            <ion-item>
                <h3>类型</h3><a href="javascript:;">全部<i class="PFIcon-BTriangle"></i></a>
                <div>
                    <a href="javascript:;" class="ellipsis" ng-repeat="type in types track by $index" ng-click="check_type(type,types)" ng-class="{'on':type.check}"><em ng-bind="type._name"></em><i class="PFIcon-Tick"></i></a>
                    <a href="javascript:;" class="ellipsis" ng-if="!noData_3">全部<i class="PFIcon-Tick"></i></a>
                    <a href="javascript:;" class="ellipsis" ng-click="loadMore(3)" ng-if="noData_3">...<i class="PFIcon-Tick"></i></a>
                </div>
            </ion-item>
            <ion-item>
                <h3>起批数量</h3>
                <div class="price">
                    <input type="text" placeholder="起批数" style="text-align: center;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="input.p_minBuy_one" />
                    <span>至</span>
                    <input type="text" placeholder="起批数" style="text-align: center;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="input.p_minBuy_two" />
                </div>
            </ion-item>
            <ion-item>
                <h3>价格区间</h3>
                <div class="price">
                    <input type="text" placeholder="最低价" style="text-align: center;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="input.p_priceOriginal_One" />
                    <span>至</span>
                    <input type="text" placeholder="最高价" style="text-align: center;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="input.p_priceOriginal_two" />
                </div>
            </ion-item>
            <ion-item>
                <h3>其他选项</h3>
                <div class="Option input-group">
                    <!--<span class="input-text pull-left input-checked" style="margin-right: 15px; line-height: 35px;" ng-click="is_checked()"><i class="mr10" ng-class="{'PFIcon-Hook': input.p_freeFreight}"></i>卖家承担运费</span>-->
                    <span class="input-text pull-left input-checked" style="line-height: 35px;" ng-click="is_selected()"><i class="mr10" ng-class="{'PFIcon-Hook': input.return == '1'}"></i>7天无理由退换</span>

                    <!--<ion-checkbox ng-model="input.p_freeFreight" ng-click="is_checked()">卖家承担运费</ion-checkbox>
                    <ion-checkbox ng-model="input.return"  ng-click="is_selected()">7天无理由退换</ion-checkbox>-->
                    <!--<ion-checkbox></ion-checkbox>-->
                </div>
            </ion-item>
        </ion-list>
        <div class="button-bar mt10"><a class="button clear" ng-click="clear_action(brands,types)">清空筛选条件</a><a class="button" ng-click="filter_action()">确认筛选</a></div>
    </ion-content>
</ion-modal-view>
