<ion-view class="addressManage-Class">
	
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/accountSetting')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">收货地址管理</h1>
	</ion-nav-title>
	
	<ion-nav-buttons side="right" >
		<a class="edit-btn" ui-sref ="footers.newAddress">添加新地址</a>
	</ion-nav-buttons>

	<ion-content  class="scroll-content has-header">
		<div class="addressManage-Content">
			<ion-list>
				<ion-item ng-repeat = "people in pickData">
					<div class="pickup-wrap" ng-click= "is_pick($index)">
						
						<div class="address-info">

							<div class="pickup-name">
								<span ng-bind="people.name"></span> ，
								<span ng-bind="people.phone"></span>
								<span class="default" ng-if = "activeType ===$index">默认</span>
							</div>
							<div class="pickup-address" ng-bind="people.address">
								
							</div>
						</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>