<ion-view class="avatarSettings-Class">
	
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/accountSetting')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">头像设置</h1>
	</ion-nav-title>
	
	<!-- <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons> -->
	<ion-content  class="scroll-content has-header">
		<div class="avatarSettings-Content">
			<ion-list>
				<ion-item>
					<div class="settings-wrap">
						<i class="settings-avatar imgMin" style="background:url(/images/default.png)"></i>
					</div>
					<div class="text-center">
						<span>选择图片作为头像</span>
					</div>
					<div class="modify-wrap">
						<div class="modify-btn">确认修改头像</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>