<ion-view class="newAddress-Class">
	
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/addressManange')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">修改地址</h1>
	</ion-nav-title>
	
	<!-- <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons> -->
	<ion-content  class="scroll-content has-header">
		<div class="newAddress-Content">
			<ion-list>
				<ion-item>
					<div class="input-group addon">
						<div class="input-label">
							收货人
						</div>
						<input type="text" class="full-width form-control" ng-model="input.s_name" name="fullname" required placeholder="">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							手机号码
						</div>
						<input type="text" class="full-width form-control" ng-model="input.s_phone" name="phone" required placeholder="请输入收货人手机号码">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							固定电话
						</div>
						<input type="text" class="full-width form-control" ng-model="input.s_telephone" name="telephone" required placeholder="请输入电话，可忽略">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							地址
						</div>
						<p class="input-select" ng-click="address_active()" ng-bind="select.City"></p>
					</div>
					<div class="input-group addon">
						<div class="input-label">
							详细地址
						</div>
						<input type="text" class="full-width form-control" ng-model="input.s_storeDetailAddr" name="detailAddress" required placeholder="请输入详细地址，详细至楼房号">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							邮编
						</div>
						<input type="text" class="full-width form-control" ng-model="input.s_postcode" name="postcode" required placeholder="请输入邮编">
					</div>
					<div class="btn-wrap">
						<a class="confirm-btn" ng-click="Edit()">
							<span>保存新地址</span>
						</a>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>