<ion-view class="comments-Class">
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/tabs/user')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	
	<ion-nav-title>
		<h1 class="titleNav">我的评价</h1>
	</ion-nav-title>
	
	<ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>
	<ion-content overflow-scroll="true" class="scroll-content has-header">
		<div class="comments-Content">
			<ion-scroll class= "scroll-view">
				<ion-list class="comments-group">
					<ion-item ng-href = "/commentDetail/{{judge.m_Id}}" ng-repeat="judge in judges" >
						<div class="comments-group-item">
							<i class="imgMin item-avatar" style="background:url('{{judge._proPic.split(',')[0]}}')"></i>
							<p ng-bind="judge._proName"></p>
							<p class="star" style="color: #ccc;">
								<i class="PFIcon-Star" ng-class="{'check-star':judge.m_level>='1'}"></i>
								<i class="PFIcon-Star" ng-class="{'check-star':judge.m_level>='2'}"></i>
								<i class="PFIcon-Star" ng-class="{'check-star':judge.m_level>='3'}"></i>
								<i class="PFIcon-Star" ng-class="{'check-star':judge.m_level>='4'}"></i>
								<i class="PFIcon-Star" ng-class="{'check-star':judge.m_level>='5'}"></i>
								<span style="margin-left:10px;color:#ffa535;font-size:13px;" ng-if="judge.m_level =='1'">差评</span>
								<span style="margin-left:10px;color:#ffa535;font-size:13px;" ng-if="judge.m_level<='3' && judge.m_level>='2'">一般般</span>
								<span style="margin-left:10px;color:#ffa535;font-size:13px;" ng-if="judge.m_level>='4'">好评</span>
							</p>
							<p style="color: #888888;font-size: 13px;"><span ng-bind="'评价时间：'+judge.m_addtime"></span></p>
							<i class="fa fa-angle-right fa-comment font-secondary" aria-hidden="true"></i>
						</div>
					</ion-item>
				</ion-list>
				<p class="noData" ng-if="!noData">没有更多数据了！</p>
	            <!-- 滚动刷新 -->
	            <ion-infinite-scroll on-infinite="loadMore();" ng-if="noData" immediate-check="false"></ion-infinite-scroll>
			</ion-scroll>
		</div>
	</ion-content>
</ion-view>