<ion-view class="confirm-Class" title="确认收货">
	
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/forgotPassword')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">确认收货</h1>
	</ion-nav-title>
	
	<!-- <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons> -->
	<ion-content  class="scroll-content has-header">

		<div class="Content">
			<ion-list class="confirm-info">
				<ion-item>
					<div class="confirm-bg">
						<img src="" alt="">
					</div>
				</ion-item>
				<ion-item>
					<p></p>
				</ion-item>
				
			</ion-list>
			
		</div>
		
	</ion-content>
</ion-view>