<ion-view class="forgot-Class" title="找回密码">
	
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/login')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">找回密码</h1>
	</ion-nav-title>
	
	<!-- <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons> -->
	<ion-content  class="scroll-content has-header">

		<div class="Content">
			<ion-list>
				<ion-item>
					<form action="">
						<div class="input-group addon">
							<div class="input-label">
								手机号码
							</div>
							<input type="text" class="full-width form-control" ng-model="input.iphone" name="iphone" required placeholder="请输入您注册的手机号码">
						</div>
						<div class="input-group addon">
							<div class="input-label">
								验证码
							</div>
							<input type="password" class="full-width form-control" ng-model="input.sms" name="sms" required placeholder="请输入接受的验证码">
							<div class="smscode">
								发送验证码
							</div>
						</div>
						<div class="btn-wrap" ui-sref = "footers.resetPassword">
							<a class="confirm-btn">
								<span>确认并继续</span>
							</a>
						</div>
					</form>
					
				</ion-item>
				
			</ion-list>
			
		</div>
		
	</ion-content>
</ion-view>