<ion-view class="pendingPayment-Class">
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/tabs/user')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="titleNav">待付款</h1>
    </ion-nav-title>

    <!--<ion-nav-buttons side="right">
        <a href="javascrpt:;" class="edit-btn" ng-click=""></a>
    </ion-nav-buttons>-->
    <ion-content overflow-scroll="true" class="scroll-content has-header">
        <ion-list class="listPayment">
            <ion-item>
                <div class="storeName"><i class="PFIcon-store"></i><h3><a class="ellipsis">初心旗舰店</a></h3><span>等待付款</span></div>
                <a class="commodity">
                    <div class="Img imgMax" style="background-image: url(/images/Products.jpg);"></div>
                    <h4>初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳</h4>
                </a>
                <span class="Amount">共一件商品  需付款：<b>￥220.00</b></span>
                <div class="toPayDiv"><a href="javascript:;" class="toPay">去支付</a></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>