<ion-view class="psdSystem-Class">
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/tabs/user')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="titleNav">进销存系统</h1>
    </ion-nav-title>
    <ion-content overflow-scroll="true" class="scroll-content has-header">
        <ion-list class="listSwitch">
            <ion-item class="button-bar">
                <a class="button button-outline" ng-click="De_Switch.set(0)" ng-class="{'on':De_Switch.get(0)}"><span>采购管理</span></a>
                <a class="button button-outline" ng-click="De_Switch.set(1)" ng-class="{'on':De_Switch.get(1)}"><span>库存管理</span></a>
                <a class="button button-outline" ng-click="De_Switch.set(2)" ng-class="{'on':De_Switch.get(2)}"><span>销售管理</span></a>
            </ion-item>
        </ion-list>
        <div class="ViewDiv" ng-if="!ts"><span>手机端仅支持查看，操作与管理需前往电脑网页端</span><a class="shutDown" ng-click="tsEvent();">×</a></div>
        <ion-slide-box class="slideBox menu-disabled-{{isDisabled}}" show-pager="false" does-continue="false" delegate-handle="switchHandle" style="height: 100%; padding-top: 83px;">
            <ion-slide class="listOrders" ng-show="De_Switch.proIndex==0" modal-linkage>
                <ion-scroll class="Specif" direction="y" zooming="false" scrollbar-y="false" style="height:100%;">
                    <ion-list>
                        <ion-item ng-click="openpsdSystemBox(pro.Inventory_Id)" ng-repeat="pro in purchase">
                            <h3 class="ellipsis" ng-bind="pro.product_Name"></h3>
                            <div class="ellipsis"><span ng-bind="'预购数量：'+ pro.Sum + '件'"></span> / <span ng-bind="'单件价格：'+pro.One_Price"></span></div>
                            <span class="Price" ng-bind="'￥'+pro.Total_Price"></span>
                            <i class="PFIcon-Rarrow"></i>
                        </ion-item>
                    </ion-list>
                    <p class="noData" ng-if="!noData_0">没有更多数据了！</p>
                    <!-- 滚动刷新 -->
                    <ion-infinite-scroll on-infinite="loadMore(0);" ng-if="noData_0" immediate-check="false"></ion-infinite-scroll>
                </ion-scroll>
            </ion-slide>
            <ion-slide class="listOrders" ng-show="De_Switch.proIndex==1" modal-linkage>
                <ion-scroll class="Specif" direction="y" zooming="false" scrollbar-y="false" style="height:100%;">
                    <ion-list>
                        <ion-item ng-repeat="stock in stocks">
                            <h3 class="ellipsis" ng-bind="stock.product_Name"></h3>
                            <div class="ellipsis"><span>颜色：红色</span> / <span ng-bind="'库存数量：'+stock.Sum+'件'"></span></div>
                            <div class="ellipsis"><span>进价：￥2592.00</span> / <span>销价：￥30.00~￥32.00 </span></div>
                        </ion-item>
                    </ion-list>
                    <p class="noData" ng-if="!noData_1">没有更多数据了！</p>
                    <ion-infinite-scroll on-infinite="loadMore(1);" ng-if="noData_1" immediate-check="false"></ion-infinite-scroll>
                </ion-scroll>
            </ion-slide>
            <ion-slide class="listOrders" ng-show="De_Switch.proIndex==2" modal-linkage>
                <ion-scroll class="Specif" direction="y" zooming="false" scrollbar-y="false" style="height:100%;">
                    <ion-list>
                        <ion-item ng-click="openpsdSystemSales()">
                            <h3 class="ellipsis">Beats Solo2 无线头戴式耳机</h3>
                            <div class="ellipsis"><span>数量：8000件</span> / <span>单价：19.00元</span></div>
                            <span class="Price">￥152000.00</span>
                            <i class="PFIcon-Rarrow"></i>
                        </ion-item>
                    </ion-list>
                    <!--<p class="noData" ng-if="!noData_1">没有更多数据了！</p>
                    <ion-infinite-scroll on-infinite="loadMore(1);" ng-if="noData_1" immediate-check="false"></ion-infinite-scroll>-->
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
        <!--<ion-list class="listOrders" ng-show="De_Switch.proIndex==0" modal-linkage>
            <ion-item ng-click="openpsdSystemBox(pro.Inventory_Id)" ng-repeat="pro in purchase">
                <h3 class="ellipsis" ng-bind="pro.product_Name"></h3>
                <div class="ellipsis"><span ng-bind="'预购数量：'+ pro.Sum + '件'"></span> / <span ng-bind="'单件价格：'+pro.One_Price"></span></div>
                <span class="Price" ng-bind="'￥'+pro.Total_Price"></span>
                <i class="PFIcon-Rarrow"></i>
            </ion-item>
            <p class="noData" ng-if="!noData_0">没有更多数据了！</p>
            <ion-infinite-scroll on-infinite="loadMore(0);" ng-if="noData_0" immediate-check="false"></ion-infinite-scroll>
        </ion-list>-->
        <!--<ion-list class="listOrders listInventory" ng-show="De_Switch.proIndex==1">
            <ion-item ng-repeat="stock in stocks">
                <h3 class="ellipsis" ng-bind="stock.product_Name"></h3>
                <div class="ellipsis"><span>颜色：红色</span> / <span ng-bind="'库存数量：'+stock.Sum+'件'"></span></div>
                <div class="ellipsis"><span>进价：￥2592.00</span> / <span>销价：￥30.00~￥32.00 </span></div>
            </ion-item>
            <p class="noData" ng-if="!noData_1">没有更多数据了！</p>
            <ion-infinite-scroll on-infinite="loadMore(1);" ng-if="noData_1" immediate-check="false"></ion-infinite-scroll>
        </ion-list>-->

    </ion-content>
</ion-view>