<ion-view class="recordSearch-Class">
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/tabs/user')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">交易记录查询</h1>
	</ion-nav-title>
	
	<ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>
	<ion-content overflow-scroll="true" class="scroll-content has-header">
		<div class="recordSearch-Content">
			<ion-scroll class="scroll-view">
				<ion-list>
					<ion-item>
						
					</ion-item>
					<div class="click-here">
						<spam href="">暂无交易记录</span>
					</div>
				</ion-list>
			</ion-scroll>
	</ion-content>
</ion-view>