<ion-view class="backGoods-Class">
	
	<ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/accountSetting')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
	<ion-nav-title>
		<h1 class="titleNav">换货操作</h1>
	</ion-nav-title>
	
	<ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons>
	<ion-content  class="scroll-content has-header">
		<div class="back-Content">
			<ion-list>
				<ion-item>
					
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>	