<ion-view class="allOrders-Class">
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/tabs/user')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="titleNav">待发货</h1>
    </ion-nav-title>

    <ion-content overflow-scroll="true" class="scroll-content has-header">
    	<ion-list class="listOrders">
            <ion-item style="margin:0 0 15px 0;">
                <div class="storeName"><i class="PFIcon-store"></i><h3><a class="ellipsis">初心旗舰店</a></h3><span>待发货</span></div>
                <a class="commodity">
                    <div class="Img imgMax" style="background-image: url(/images/Products.jpg);"></div>
                    <h4>初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳</h4>
                    <span>颜色分类：闪耀磨砂黑</span>
                    <div class="Service"><span>七天退换</span><span>七天退换</span><span>七天退换</span><span>七天退换</span></div>
                    <div class="Amount">
                        <span class="Current">￥20056312005631.00</span>
                        <span class="Original">￥2005631.00</span>
                        <span class="Number">×100000</span>
                    </div>
                </a>
                <a class="commodity">
                    <div class="Img imgMax" style="background-image: url(/images/Products.jpg);"></div>
                    <h4>初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳初心拇指贝壳</h4>
                    <span>颜色分类：闪耀磨砂黑</span>
                    <div class="Service"><span>七天退换</span><span>七天退换</span><span>七天退换</span><span>七天退换</span></div>
                    <div class="Amount">
                        <span class="Current">￥20056312005631.00</span>
                        <span class="Original">￥2005631.00</span>
                        <span class="Number">×100000</span>
                    </div>
                </a>
                <div class="priceAmount"><span>共1件商品</span><span>合计：￥<b>17.10</b>（含运费￥0.00）</span></div>
                <div class="priceButton"><a class="Receipt" ng-click="showConfirm()">确认收货</a><a>查看物流</a><a>我要催单</a></div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>
