<ion-view class="signup-Class" title="用户注册">
	
	<!-- <ion-nav-buttons side="left">
        <a href="javascript:void(0)" class="headReturn" ng-click="$ionicGoBack('/accountSetting')"><i class="PFIcon-back"></i>返回</a>
    </ion-nav-buttons> -->
	<ion-nav-title>
		<h1 class="titleNav">用户注册</h1>
	</ion-nav-title>
	
	<!-- <ion-nav-buttons side="right">
        <a href="javascript:void(0)" class="headRButton icon ion-ios-search placeholder-icon"></a>
    </ion-nav-buttons> -->
	<ion-content  class="scroll-content has-header">
		<ion-list>
			<ion-item>
				<form action="" name="signupForm" ng-submit="signup_action()">
					<div class="input-group addon">
						<div class="input-label">
							用户名
						</div>
						<input type="text" class="full-width form-control login" ng-model="input.account" name="account" ng-required="true" placeholder="请输入用户名" ng-blur = "check_name()">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							密码
						</div>
						<input type="password" class="full-width form-control password" ng-model="input.pwd" name="pwd" ng-required="true" placeholder="请输入密码">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							确认密码
						</div>
						<input type="password" class="full-width form-control password" ng-model="input.confirm_pwd" name="confirm_pwd" ng-required="true" placeholder="请输入密码" ng-blur="check_pwd()">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							真实姓名
						</div>
						<input type="text" class="full-width form-control password" ng-model="input.s_name" name="realname" ng-required="true" placeholder="请输入真实姓名">
					</div>
					
					<div class="input-group addon">
						<div class="input-label">
							邮箱
						</div>
						<input type="email" class="full-width form-control password" ng-model="input.s_email" name="email" ng-required="true" placeholder="请输入邮箱" ng-blur="check_email()">
						<countdown class="smscode" countdown="countdown" ng-class="{'color-primary':countdown.message!='获取验证码'}" countdown-disabled="signupForm.email.$invalid">{{countdown.message}}</countdown>
					</div>
					<div class="input-group addon">
						<div class="input-label">
							验证码
						</div>
						<input type="text" class="full-width form-control password" ng-model="input.codeEValue" name="code_value" ng-required="true" placeholder="请输入验证码" ng-blur ="check_code()">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							手机
						</div>
						<input type="text" class="full-width form-control password" ng-model="input.s_phone" name="phone" ng-required="true" placeholder="请输入手机号码">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							身份证
						</div>
						<input type="text" class="full-width form-control password" ng-model="input.s_idCard" name="IdCart" ng-required="true" placeholder="请输入身份证">

					</div>
					<div class="input-group addon">
						<div class="input-label">
							性别
						</div>
						<div class="input-checked">
							<span class="input-text pull-left" ng-click="single_check('gender','先生')"><i class="mr10" ng-class ="{'PFIcon-Hook': input.gender === '先生'}"></i>先生</span>
							<span class="input-text ml30 pull-left" ng-click="single_check('gender','女士')"><i class="mr10" ng-class ="{'PFIcon-Hook': input.gender ==='女士'}"></i>女士</span>
						</div>
					</div>
					<div class="input-group addon">
						<div class="input-label">
							店铺名
						</div>
						<input type="text" class="full-width form-control password" ng-model="input.s_storeName" name="store_name" ng-required="true" placeholder="请输入店铺名">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							身份
						</div>
                        <div class="text-select" ng-bind="input.s_identity" ng-click="identity_active();">
                        </div>
					<div class="input-group addon">
						<div class="input-label">
							地址
						</div>
						<div class="text-select" ng-bind="select.City" ng-click="address_active();">
						</div>
					</div>

					<div class="input-group addon">
						<div class="input-label">
							详细地址
						</div>
						<input type="text" class="full-width form-control password" ng-model="input.s_storeDetailAddr" name="detail_address" ng-required="true" placeholder="街道、楼牌号等">
					</div>
					<div class="input-group addon">
						<div class="input-label">
							绑定省份
						</div>
						<div class="text-select" ng-bind="input.s_storeProv">
							请选择省份
						</div>
					</div>

					<div class="button-warp">
			            <div class="col-xs-2 pull-left">
			                <a class="back-btn" ng-href="/login">返回登录</a>
			            </div>
			            <div class="col-xs-2 pull-left">
			                <a class="replace-btn" ng-click ="signup_action()" ng-disabled="$signupForm.$valid">确认注册</a>
			            </div>
			        </div>
				</form>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>