<ion-view class="user-Class">
	
	
	<ion-nav-title>
		<h1 class="titleNav">会员中心</h1>
	</ion-nav-title>
	

    <ion-content overflow-scroll="true" class="scroll-content has-header">
    	<div class="user-Content">
    		<ion-scroll class="scroll-view">
	    		<ion-list  class="user-info">
	    			<ion-item >
	    				<a class="user-status border-bottom" ng-href="/accountSetting">
	    					<i class="imgMin Images" style="background:url('/images/default.png')"></i>
	    					<p class="user-name">Heho</p>
							<p style="font-size:12px;margin-bottom:5px;">
								<span style="border-right:1px solid #eaeaea;padding-right: 5px;">
								    <i class="PFIcon-real font-success"></i>
									实名认证
								</span>
								<!-- <span class="line"></span> -->
								<span style="border-right:1px solid #eaeaea;padding: 0 5px;"><i class="PFIcon-real font-success"></i>手机绑定</span>
								<!-- <span class="line"></span> -->
								<span style="padding-left: 5px;"><i class="PFIcon-error font-secondary"></i>邮箱绑定</span>
							</p>
							<i class="fa fa-angle-right fa-ms-right-absolute font-secondary" aria-hidden="true"></i>
	    				</a>

	    			</ion-item>
					<ion-item class="wares-status" style="display: block;width: 100%;padding: 15px 0;">
                        <a class="wares-status-content pull-left" ng-href="/pendingPayment">
                            <span class="wares">
                                <i class="PFIcon-paying font-secondary font18" style="font-size:22px;"></i>
                                <i class="bg-circle">2</i>
                            </span>
                            <p style="font-size:13px;">待付款</p>
                        </a>
                        <a class="wares-status-content pull-left" ng-href="/waitReceipt">
                            <span class="wares">
                                <i class="PFIcon-pickuping font-secondary font18"></i>
                                <i class="bg-circle">2</i>
                            </span>
                            <p style="font-size:13px;">待收货</p>
                        </a>
                        <a class="wares-status-content pull-left" ng-href="/waitEvaluation">
                            <span class="wares">
                                <i class="PFIcon-reviews font-secondary font18"></i>
                                <i class="bg-circle">2</i>
                            </span>
                            <p style="font-size:13px;">待评价</p>
                        </a>
                        <a class="wares-status-content pull-left" ng-href="/allOrders">
                            <span class="wares">
                                <i class="PFIcon-coupon font-secondary font18"></i>
                                <i class="bg-circle">2</i>
                            </span>
                            <p style="font-size:13px;">全部货单</p>

                        </a>
                    </ion-item>
	    		</ion-list>
	    		<ion-list class="action-group">
	    			
	    			<ion-item style="margin-top: 10px;">
						<a class="action-group-item font-default" ng-href ="/orders">
							<i class="icon-inner PFIcon-stock pull-left" style="color: #f77441"></i>
							<p class="action-group-sub pull-left">我的进货单</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item> 
					<ion-item >
						<a class="action-group-item font-default" ng-href="/favorite">
							<i class="icon-inner PFIcon-favorite pull-left" style="color: #f7e441"></i>
							<p class="action-group-sub pull-left">收藏夹</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item>
					<ion-item >
						<a class="action-group-item font-default" ng-href = "/myNews">
							<i class="icon-inner PFIcon-news pull-left" style="color: #1fad40"></i>
							<p class="action-group-sub pull-left">我的消息</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item>
					<ion-item style="margin-top: 10px;">
						<a class="action-group-item font-default" ng-href="/boughtProduct">
							<i class="icon-inner PFIcon-bought pull-left" style="color: #dfc377"></i>
							<p class="action-group-sub pull-left">已买到的货品</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item>
					<ion-item style="margin-top: 10px;">
						<a class="action-group-item font-default" ng-href="/comment">
							<i class="icon-inner PFIcon-praised pull-left" style="color: #77addf;font-size:24px;"></i>
							<p class="action-group-sub pull-left">我的评价</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item>
					<ion-item>
						<a class="action-group-item font-default" ng-href ="/recordSearch">
							<i class="icon-inner PFIcon-query pull-left" style="color: #23dbae"></i>
							<p class="action-group-sub pull-left">交易记录查询</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item>
					<ion-item ng-href ="inventory">
                        <a class="action-group-item font-default" ng-href="/psdSystem">
                            <i class="icon-inner PFIcon-inventory pull-left" style="color: #888"></i>
                            <p class="action-group-sub pull-left">进销存</p>
                            <i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
                        </a>
					</ion-item> 
					<!-- <ion-item>
						<a class="action-group-item font-default" ng-href ="/returns">
							<i class="icon-inner PFIcon-ReturnPolicy pull-left" style="color: #595959"></i>
							<p class="action-group-sub pull-left">退换货管理</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item> -->
					<ion-item style="margin-bottom: 15px;">
						<a class="action-group-item font-default">
							<i class="icon-inner PFIcon-complain pull-left" style="color: #77addf"></i>
							<p class="action-group-sub pull-left">投诉</p>
							<i class="fa fa-angle-right font-secondary icon-forword pull-right" aria-hidden="true"></i>
						</a>
					</ion-item>
					
	    		</ion-list>
	    	</ion-scroll>
    	</div>
    	
    </ion-content>
</ion-view>